#splash-block {
	color: white;
	background-color: #6b76ad;
	}

	#splash-block .row-bg:before {
		width: 1920px;
		left: 50%;
		margin-left: -960px;
		background-image: url(
			 ../../images/pages/index/splash-bg.jpg);
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	    src='../../images/pages/index/splash-bg.jpg', sizingMethod='crop');
	}

	#splash-block > .width-wrap {
		box-sizing: border-box;
		height: 320px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	#splash-slogan {
		position: absolute;
		width: 100%;
		top: 0;
		margin: 70px 0 10px 0;
		text-align: center;
	}

	#splash-slogan h1 {
		text-indent: 0.75em;
		font-size: 34px;
		line-height: 50px;
	}
	#splash-slogan h2 {
		font-size: 26px;
		line-height: 40px;
	}

	#splash-login-panel {
		position: absolute;
		width: 100%;
		top: 200px;
		text-align: center;
	}

	#splash-login-panel button [class|="corner"]:before,
	#splash-login-panel button .bg,
	#splash-login-panel button {
		width: 202px;
		color: white;
		border-color: white;
	}



.promotion-card {
	position: relative;
	width: 100%;
	height: 346px;
	overflow: hidden;

}

.promotion-card .splash {
	display: inline-block;
	width: 835px;
	height: 346px;
}