#splash-block {
	color: white;
	background-color: #6b76ad;
	}

	#splash-block > .ie-bg:before {
		width: 1920px;
		left: 50%;
		margin-left: -960px;
		background-image: url(
			 ../../images/pages/index/splash-bg.jpg);
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../../images/pages/index/splash-bg.jpg', sizingMethod='crop');
	}

	#splash-block > .width-wrap {
		box-sizing: border-box;
		height: 320px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	#splash-slogan {
		position: absolute;
		width: 70%;
		left: 15%;
		top: 0;
		margin: 70px 0 10px 0;
		text-align: center;
	}

	#splash-slogan h1 {
		text-indent: 0.75em;
		font-size: 34px;
		line-height: 50px;
		letter-spacing: 0.1em;
	}
	#splash-slogan h2 {
		font-size: 26px;
		line-height: 40px;
	}

	#splash-login-block {
		position: absolute;
		width: 70%;
		left: 15%;
		top: 200px;
		text-align: center;
	}

	#splash-login-block button [class|="corner"]:before,
	#splash-login-block button .ie-bg,
	#splash-login-block button {
		color: white;
		border-color: white;
	}

	#splash-login-block button:hover {
		background-color: rgba(255, 255, 255, 0.16)!important;
	}

	#splash-login-block button [class|="corner"] {
		filter: alpha(opacity=100);
	}

	#splash-credit-info-block {
		position: absolute;
		left: 20px;
		top: 36px;
		}

		#credit-abstract-pane,
		#credit-details-pane {
			/* display: inline-block;
			vertical-align: middle; */
		}

		#credit-abstract-pane {
			position: relative;
			width: 350px;
			min-height: 230px;
			padding: 10px 0;
			background-color: rgba(0, 0, 0, 0.6);

			box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.32);
			}

			#credit-abstract-pane > .ie-shadow {
				background-color: black;
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=0.51);
				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=0.51)";
				zoom: 1;
				left: -12px;
				top: -12px;
			}

			#credit-abstract-pane > .ie-bg {
				margin: 0;
				background-color: black;
				filter: alpha(opacity=45);
			}

			#credit-abstract-pane .credit-spending-limitation,
			#credit-abstract-pane .credit-line,
			#credit-abstract-pane .operations {
				position: relative;
				text-align: center;
				line-height: 1.5;
				padding: 12px 0 21px 0;
			}

			#credit-abstract-pane .operations {
				padding-bottom: 8px;
			}

			#credit-abstract-pane .title {
				box-sizing: border-box;
				position: absolute;
				left: 25%;
				width: 50%;
				bottom: 0;
				line-height: 20px;
			}

			#credit-abstract-pane .title h1,
			#credit-abstract-pane .title h2 {
				display: inline-block;
				font-size: 14px;
				vertical-align: middle;
			}

			#credit-abstract-pane .credit-spending-limitation em {
				font-size: 32px;
				color: #ff9600;
			}

			#credit-abstract-pane .credit-line em {
				font-size: 26px;
				color: #157dff;
			}

			#credit-abstract-pane .info-block {
				vertical-align: middle;
			}

			#credit-abstract-pane .info-block .info {
				color: white;
				border-color: black;
				background-color: black;
				background-color: rgba(0, 0, 0, 0.75);
			}

		#credit-details-pane {
			z-index: 1;
			position: absolute;
			left: 350px;
			top: 0;
			bottom: 0;
			padding: 0;
			height: auto;
			margin: auto 0;
			width: auto;
			}

			#credit-details-pane .expandable {
				box-sizing: border-box;
				position: relative;
				max-width: 850px;
				height: 100%;
				background-color: transparent;
				padding: 4px 0;
			}
			#credit-details-pane .expandable.expanded {
				width: 850px;
			}


			#credit-details-pane .cast-shadow {
				position: absolute;
				max-width: 850px;
				left: 0;
				right: 0;
				top: 4px;
				bottom: 4px;

				background-color: transparent;
				background-color: black\0;
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=0.3);
				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=0.3)";
				zoom: 1;
				left: -12px\0;
				top: -12px\0;
				}
				_:-ms-fullscreen, :root #credit-details-pane .cast-shadow {
					left: 0\0;
					top: 4px\0;
				}


			#credit-details-pane .docking {
				position: absolute;
				left: auto;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto 0;
				width: 0;
				height: 40px;
				}


			#credit-details-pane [class|="corner-deco"] {
				display: block;
				position: absolute;
				margin: 0;
				padding: 0;
				border: 0;
				text-indent: 0;
				text-align: right;
				direction: ltr!important;
				overflow: hidden;
				}

				#credit-details-pane [class|="corner-deco"]:before {
					font-family:"iconfont" !important;
					color: #ac0b0c;
					content: '\e604';

					display: block;
					width: auto;
					height: auto;
					position: absolute;
					left: 0;
					text-indent: 0;
				}


			#credit-details-pane .expandable [class|="corner-deco"] {
				width: 9px;
				height: 4px;
				left: 0;
				}
				#credit-details-pane .expandable .corner-deco-above {
					font-size: 27px;
					line-height: 27px;
					top: 0;
				}
				#credit-details-pane .expandable .corner-deco-below {
					font-size: 27px;
					line-height: 27px;
					bottom: 0px;
				}
				#credit-details-pane .expandable .corner-deco-above:before {
					bottom: 0;
					bottom: 1px\0; /* ie8+ */
				}
				#credit-details-pane .expandable .corner-deco-below:before {
					top: 0;
					top: -1px\0; /* ie8+ */
				}
				_:-ms-fullscreen, :root #credit-details-pane .expandable .corner-deco-above::before {
					/* ie11only */
					bottom: -2px\0;
				}
				_:-ms-fullscreen, :root #credit-details-pane .expandable .corner-deco-below::before {
					/* ie11only */
					top: 2px\0;
				}
				@-moz-document url-prefix() {
					wlc {}
					#credit-details-pane .expandable .corner-deco-above::before {
						bottom: -1px;
					}
					#credit-details-pane .expandable .corner-deco-below::before {
					}
				}


			#credit-details-pane .docking [class|="corner-deco"] {
				width: 6px;
				height: 4px;
				left: 100%;
				}
				#credit-details-pane .docking .corner-deco-above {
					font-size: 20px;
					line-height: 20px;
					bottom: 100%;
				}
				#credit-details-pane .docking .corner-deco-below {
					font-size: 20px;
					line-height: 20px;
					top: 100%;
				}
				#credit-details-pane .docking .corner-deco-above:before {
					bottom: 0;
					font-size: 21px; /* ie8+ */
					line-height: 21px; /* ie8+ */
					bottom: 1px\0; /* ie8+ */
				}
				#credit-details-pane .docking .corner-deco-below:before {
					top: 0;
					top: -1px\0; /* ie8+ */
				}
				_:-ms-fullscreen, :root #credit-details-pane .docking .corner-deco-above::before {
					/* ie11only */
					bottom: -1px\0;
				}
				_:-ms-fullscreen, :root #credit-details-pane .docking .corner-deco-below::before {
					/* ie11only */
					top: 1px\0;
				}


			#credit-details-pane .docking button {
				position: absolute;
				border: 0;
				padding: 0;
				margin: 0;
				width: 20px;
				height: 40px;
				left: auto;
				right: -6px;
				top: 0;
				bottom: auto;

				overflow: hidden;

				color: white;
				background-color: #f92c1f;

				text-indent: -3px;
				}

				#credit-details-pane .expandable.expanded + .docking button {
					text-indent: -4.5px;
				}

				#credit-details-pane .expandable + .docking button .iconfont:before {
					font-size: 12px;
					line-height: 40px;
					content: '\e616';
				}

				#credit-details-pane .expandable.expanded + .docking button .iconfont:before {
					content: '\e615';
				}


			#credit-details-pane .content-panel {
				position: absolute;
				background-color: white;
				width: 850px;
				top: 4px;
				bottom: 4px;
				right: 0;
				height: auto;
			}



.promotion-card {
	position: relative;
	width: 100%;
	height: 346px;
	overflow: hidden;

}

.promotion-card .splash {
	display: inline-block;
	width: 835px;
	height: 346px;
}

#pl-taijs-app-promotion .popup-window {
	width: 1200px;
	height: 315px;
	color: white;
	text-align: center;
	background-color: #157dff;
	background-image: url(../../images/pages/index/qrcode-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	}
	
	#pl-taijs-app-promotion .ie-bg {
	}

	#pl-taijs-app-promotion .title {
		position: relative;
		display: inline-block;
		padding: 0 1em;
		margin: 2em 0 1em 0;
	}
	#pl-taijs-app-promotion .title:before,
	#pl-taijs-app-promotion .title:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		font-size: 0;
		height: 1px;
		width: 85px;
		background-color: white;
	}
	#pl-taijs-app-promotion .title:before {
		right: 100%;
	}
	#pl-taijs-app-promotion .title:after {
		left: 100%;
	}
	#pl-taijs-app-promotion p {
		line-height: 1.8;
	}