#splash-block {
	background-color: #6b76ad;
	}

	#splash-block .row-bg:before {
		width: 1920px;
		left: 50%;
		margin-left: -960px;
		background-image: url(
			 ../../images/pages/index/splash-bg.jpg);
	    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	    src='../../images/pages/index/splash-bg.jpg', sizingMethod='crop');
	}

	#splash-block > .width-wrap {
		box-sizing: border-box;
		height: 320px;
		padding-top: 36px;
		padding-bottom: 36px;
	}



.promotion-card {
	position: relative;
	width: 100%;
	height: 346px;
	overflow: hidden;

}

.promotion-card .splash {
	display: inline-block;
	width: 835px;
	height: 346px;
}