#splash-block {
	color: white;
	background-color: #6b76ad;
	}

	#splash-block .row-bg:before {
		width: 1920px;
		left: 50%;
		margin-left: -960px;
		background-image: url(
			 ../../images/pages/index/splash-bg.jpg);
		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
		src='../../images/pages/index/splash-bg.jpg', sizingMethod='crop');
	}

	#splash-block > .width-wrap {
		box-sizing: border-box;
		height: 320px;
		padding-top: 36px;
		padding-bottom: 36px;
	}

	#splash-slogan {
		position: absolute;
		width: 70%;
		left: 15%;
		top: 0;
		margin: 70px 0 10px 0;
		text-align: center;
	}

	#splash-slogan h1 {
		text-indent: 0.75em;
		font-size: 34px;
		line-height: 50px;
		letter-spacing: 0.1em;
	}
	#splash-slogan h2 {
		font-size: 26px;
		line-height: 40px;
	}

	#splash-login-panel {
		position: absolute;
		width: 70%;
		left: 15%;
		top: 200px;
		text-align: center;
	}

	#splash-login-panel button [class|="corner"]:before,
	#splash-login-panel button .bg,
	#splash-login-panel button {
		color: white;
		border-color: white;
	}

	#splash-login-panel button:hover {
		background-color: rgba(255, 255, 255, 0.16)!important;
	}

	#splash-login-panel button [class|="corner"] {
		filter: alpha(opacity=100);
	}

	#splash-credit-info-panel {
		position: absolute;
		left: 20px;
		top: 36px;
		}

		#credit-abstract {
			position: relative;
			width: 350px;
			min-height: 230px;
			padding: 10px 0;
			background-color: rgba(0, 0, 0, 0.6);

			box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.32);
			}

			#credit-abstract > .ie-shadow {
				background-color: black;
				filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.27);
				-ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=10,MakeShadow=true,ShadowOpacity=0.27)";
				zoom: 1;
				left: -20px;
				top: -20px;
			}

			#credit-abstract > .bg {
				background-color: black;
				filter: alpha(opacity=60);
			}

			#credit-abstract .credit-spending-limitation,
			#credit-abstract .credit-line,
			#credit-abstract .operations {
				position: relative;
				text-align: center;
				line-height: 1.5;
				padding: 12px 0 21px 0;
			}

			#credit-abstract .operations {
				padding-bottom: 10px;
			}

			#credit-abstract .title {
				box-sizing: border-box;
				position: absolute;
				left: 25%;
				width: 50%;
				bottom: 0;
				line-height: 20px;
			}

			#credit-abstract .title h1,
			#credit-abstract .title h2 {
				display: inline-block;
				font-size: 14px;
				vertical-align: middle;
			}

			#credit-abstract .credit-spending-limitation em {
				font-size: 32px;
				color: #ff9600;
			}

			#credit-abstract .credit-line em {
				font-size: 26px;
				color: #157dff;
			}

			#credit-abstract .info-block {
				vertical-align: middle;
			}

			#credit-abstract .info-block .info {
				color: white;
				border-color: black;
				background-color: black;
				background-color: rgba(0, 0, 0, 0.75);
			}


.promotion-card {
	position: relative;
	width: 100%;
	height: 346px;
	overflow: hidden;

}

.promotion-card .splash {
	display: inline-block;
	width: 835px;
	height: 346px;
}

#pl-taijs-app-promotion .popup-window {
	width: 1200px;
	height: 315px;
	color: white;
	text-align: center;
	background-color: #157dff;
	background-image: url(../../images/pages/index/qrcode-bg.png);
	background-repeat: no-repeat;
	background-position: center top;
	}
	
	#pl-taijs-app-promotion .bg {
	}

	#pl-taijs-app-promotion .title {
		position: relative;
		display: inline-block;
		padding: 0 1em;
		margin: 2em 0 1em 0;
	}
	#pl-taijs-app-promotion .title:before,
	#pl-taijs-app-promotion .title:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		font-size: 0;
		height: 1px;
		width: 85px;
		background-color: white;
	}
	#pl-taijs-app-promotion .title:before {
		right: 100%;
	}
	#pl-taijs-app-promotion .title:after {
		left: 100%;
	}
	#pl-taijs-app-promotion p {
		line-height: 1.8;
	}