#user-info-bar {
	overflow: hidden;

	color: white;

	background-color: #6b76ad;
	-ms-filter: "\
		progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)\
	";
	    filter: 
		progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)
	;
	}

	#user-info-bar:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: 
			url(../../images/pages/xfzq/_common/user-info-bar-bg.png)
		; /* ie9 doesn't support css gradient */
		background-image: 
			url(../../images/pages/xfzq/_common/user-info-bar-bg.png),
			linear-gradient(to bottom, #6b76ad, #9d99b9)
		;
	}

	#user-info-bar > .width-wrap {
		padding: 11px 0;
		height: 84px;
	}

	#user-info-bar > .ie-bg {
		width: 1920px;
		margin-left: -960px;

		-ms-filter: "\
			progid:DXImageTransform.Microsoft.AlphaImageLoader(\
				src='../../images/pages/xfzq/_common/user-info-bar-bg.png', sizingMethod='crop'\
			)\
		";

		filter:
			progid:DXImageTransform.Microsoft.AlphaImageLoader(
				src='../../images/pages/xfzq/_common/user-info-bar-bg.png', sizingMethod='crop'
			)
		;
	}

#user-info-bar-user-avatar {
	box-sizing: border-box;
	position: relative;
	width: 84px;
	height: 84px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-size: cover;
	border-radius: 1000px;
	overflow: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Compositor(function=21)";
        filter:  progid:DXImageTransform.Microsoft.Compositor(function=21);
	}
	#user-info-bar-user-avatar .ie-compositor-mask {
        font-family: 'iconfont'!important;
        position: absolute;
        left: 0;
        top: -8px;
        text-indent: 0;
        font-size: 84px;
        line-height: 90px;
        text-align: center;
        color: lightgray;
    }
    
    #user-info-bar-user-avatar img {
        position: absolute;
    }



.page {
	margin: 0;
	padding: 10px 0 20px 0;
}

.page-chief-part {
	position: relative;
	margin: 10px 0;
	overflow: visible; /* for ie-shadow */

	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	}

	.page-chief-part .content {
		position: relative;
		z-index: 5;
		margin: 0;
		padding: 0;
		border: 0;
		border-width: 1px;
		border-style: solid;
		text-align: left;
		direction: ltr;
		white-space: nowrap;
		overflow: visible; /* for sidebar borders */
	}

	.page-chief-part .content .page-sidebar,
	.page-chief-part .content .page-content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}
	.page-chief-part .content.has-sidebar:before,
	.page-chief-part .content .page-sidebar {
		width: 210px;
		margin-left: -1px;
	}
	.page-chief-part .content .page-sidebar {
	}
	.page-chief-part .content .page-content {
		width: 100%;
	}
	.page-chief-part .content.has-sidebar .page-content,
	.page-chief-part .content .page-sidebar ~ .page-content {
		width: 990px;
	}
	.page-chief-part .content.has-sidebar:before {
		content: '';
		box-sizing: border-box;
		display: block;
		position: absolute;
		left: 0;
		top: -1px;
		bottom: -1px;
		border-width: 1px;
		border-style: solid;
	}


.page-sidebar {
	padding: 10px 0 40px 0;
	}
	.page-sidebar hr {
		margin: 20px 0;
	}


#page-sidebar-nav {
	margin: 0;
	padding: 0;
	}

	#page-sidebar-nav nav {
		display: block; /* for IE9 */
		position: relative; /* for IE9 */
	}

	#page-sidebar-nav .menu {
		display: block;
		position: relative;
		visibility: visible;
		opacity: 1;
		border: 0;
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

	#page-sidebar-nav .menu-item {
		display: block;
		position: relative;
		padding: 0;
	}

	#page-sidebar-nav .menu-item > a > label:after,
	#page-sidebar-nav .menu-item > label:after {
		font-family: 'iconfont'!important;
		display: block;
		position: absolute;
		top: 9px;
		margin: 0;
		right: 25px;
		z-index: 5;

		height: 25px;
		font-size: 25px;
		line-height: 1;
		}
		#page-sidebar-nav .menu-item.has-sub-menu > a > label:after,
		#page-sidebar-nav .menu-item.has-sub-menu > label:after {
			content: '\e606';
		}
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a > label:after,
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label:after {
			content: '\e605';
		}

	#page-sidebar-nav .menu-item.has-sub-menu > .menu {
		height: 0;
	}

	#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > .menu {
		height: auto;
	}

	#page-sidebar-nav .menu-item > a > label,
	#page-sidebar-nav .menu-item > label {
		box-sizing: border-box;
		min-height: 46px;
		line-height: 21px;
		border-style: solid;
		border-width: 1px 0 1px 1px;
		border-color: transparent;
		padding: 11px 44px;
		margin-bottom: -1px;
	}

	#page-sidebar-nav .menu-item > a > label,
	#page-sidebar-nav .menu-item > label {
		line-height: 22px\0;
	}
	:root #page-sidebar-nav .menu-item > a > label,
	:root #page-sidebar-nav .menu-item > label {
		line-height: 21px\0;
	}

	#page-sidebar-nav .menu.level-2 > .menu-item > a > label,
	#page-sidebar-nav .menu.level-2 > .menu-item > label {
		padding-left: 76px;
	}






#page-row {
	background-color: #f5f5f5;
	}
	.page-chief-part .content {
		border-color: #ddd;
		background-color: white;
	}
	.page-chief-part .content.has-sidebar .page-sidebar hr,
	.page-chief-part .content.has-sidebar:before {
		border-color: #dbdeeb;
	}
	.page-chief-part .content.has-sidebar:before {
		background-color: #ebedf5;
	}

#page-sidebar-nav {
	}
	#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label,
	#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a > label {
		color: #333;
		border-color: transparent;
		background: transparent;
	}
	#page-sidebar-nav .menu-item.current > label,
	#page-sidebar-nav .menu-item.current > a > label {
		color: #333;
		background: white;
		border-color: #ddd;
	}
	#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label:hover,
	#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a:hover > label,
	#page-sidebar-nav .menu-item > label:hover,
	#page-sidebar-nav .menu-item > a:hover > label {
		color: #333;
		background: white;
		border-color: #ddd;
	}
