/* ----- layout definition begin --------------- */
	.bill-abstract-block {
		padding: 38px 20px;
		border-width: 0 0 1px 0;
		border-style: dashed;
		margin-bottom: 40px;
		}

		.bill-abstract-block .columns {
			position: relative;
		}

		.bill-abstract-block .columns > .col {
			width: 286px;
			margin-right: 30px;
		}

		.bill-abstract-block .columns > .col.col-aside {
			position: absolute;
			top: 0;
			right: 0;

 			margin: 0;
			width: 164px;
			border-width: 0 0 0 1px;
			border-style: dashed;

			padding-left: 30px;
		}

		.bill-abstract-block h5 {
			line-height: 1.5;
			padding: 0.5em;
			margin: -0.5em;
			margin-bottom: 0;
		}

		.bill-abstract-block h5 .value {
			display: block;
			margin: 10px 0;
		}

		.bill-abstract-block blockquote {
			display: block;
			margin: 15px 0;
		}

		.bill-abstract-block .buttons-in-single-line {
			margin-top: 3px;
			margin-bottom: 0;
			}
			.bill-abstract-block .buttons-in-single-line button {
				margin-bottom: 2px;
			}

		.bill-abstract-block .columns > .col.col-aside dl {
			padding: 8px;
			margin: -8px;
		}

		.bill-abstract-block .columns > .col.col-aside dt {
			font-size: 14px;
		}
		.bill-abstract-block .columns > .col.col-aside dt,
		.bill-abstract-block .columns > .col.col-aside dd {
			padding: 4px;
			margin: -4px;
		}

		.bill-abstract-block .columns > .col.col-aside dd {
			margin-bottom: 20px;
		}
/* ----- layout definition end ----------------- */




/* ----- theme definition begin ---------------- */
		.bill-abstract-block,
		.bill-abstract-block .columns > .col.col-aside {
			border-color: #dedede;
		}
/* ----- theme definition end ------------------ */