#user-info-bar {
	overflow: hidden;

	color: white;

	background-color: #6b76ad;
	-ms-filter: "\
		progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)\
	";
	    filter: 
		progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)\
	);
	}

	#user-info-bar:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-image: 
			url(../../images/pages/xfzq/_common/user-info-bar-bg.png)
		; /* ie9 doesn't support css gradient */
		background-image: 
			url(../../images/pages/xfzq/_common/user-info-bar-bg.png),
			linear-gradient(to bottom, #6b76ad, #9d99b9)
		;
	}

	#user-info-bar > .width-wrap {
		height: 106px;
	}

	#user-info-bar > .ie-bg {
		width: 1920px;
		margin-left: -960px;

		-ms-filter: "\
			progid:DXImageTransform.Microsoft.AlphaImageLoader(\
				src='../../images/pages/xfzq/_common/user-info-bar-bg.png', sizingMethod='crop'\
			)\
		";

		filter:
			progid:DXImageTransform.Microsoft.AlphaImageLoader(
				src='../../images/pages/xfzq/_common/user-info-bar-bg.png', sizingMethod='crop'
			)
		;
	}

.page {
	margin: 0;
	padding: 10px 0 20px 0;
}

.page-chief-part {
	position: relative;
	margin: 10px 0;
	overflow: visible; /* for ie-shadow */

	box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
	}

	.page-chief-part .content {
		position: relative;
		z-index: 5;
		margin: 0;
		padding: 0;
		border: 0;
		border-width: 1px;
		border-style: solid;
		text-align: left;
		direction: ltr;
		white-space: nowrap;
		overflow: visible; /* for sidebar borders */
	}

	.page-chief-part .content .page-sidebar,
	.page-chief-part .content .page-content {
		position: relative;
		display: inline-block;
		vertical-align: top;
		white-space: normal;
	}
	.page-chief-part .content .page-sidebar {
		width: 210px;
		margin-right: 0px;
	}
	.page-chief-part .content .page-content {
		width: 100%;
	}
	.page-chief-part .content.has-sidebar .page-content,
	.page-chief-part .content .page-sidebar ~ .page-content {
		width: 989px;
	}
	.page-chief-part .content.has-sidebar:before {
		box-sizing: border-box;
		content: '';
		position: absolute;
		left: -1px;
		top: -1px;
		bottom: -1px;
		width: 211px;
		border-width: 1px;
		border-style: solid;
	}


.page-sidebar {
	padding: 10px 0 40px 0;
	}
	.page-sidebar hr {
		margin: 20px 0;
	}





#page-row {
	background-color: #f5f5f5;
}
.page-chief-part .content {
	border-color: #ddd;
	background-color: white;
}
.page-chief-part .content.has-sidebar .page-sidebar hr,
.page-chief-part .content.has-sidebar:before {
	border-color: #dbdeeb;
}
.page-chief-part .content.has-sidebar:before {
	background-color: #ebedf5;
}
