/* ----- layout definition begin --------------- */
	.tile {
		height: 311px;
		text-align: center;
		}

		.tile > .content {
			display: inline-block;
			vertical-align: middle;
			background-color: transparent;
			}

			.tile > .content .icon {
				width: 60px;
				height: 48px;
				line-height: 48px;
				font-size: 40px;
				}
				.tile > .content.help-category-bank-card .icon {
					font-size: 50px;
				}

				.tile > .content .icon.icon-in-bg {
					background-image: url(../../images/pages/xfzq/help-desk/help-desk-sprite.png);
				}

			.tile > .content label {
				display: inline-block;
				margin: 2px 0;
			}

	.help-category-new-user-guide .icon.icon-in-bg { background-position: 0px 0px; }
	.help-category-faq            .icon.icon-in-bg { background-position: -60px 0px; }
	.help-category-account        .icon.icon-in-bg { background-position: -120px 0px; }
	.help-category-funds          .icon.icon-in-bg { background-position: -180px 0px; }
	.help-category-bank-card      .icon.icon-in-bg { background-position: -240px 0px; }
	.help-category-taiyx          .icon.icon-in-bg { background-position: -300px 0px; }
	.help-category-funds-wiki     .icon.icon-in-bg { background-position: -360px 0px; }
	.help-category-funds-venture  .icon.icon-in-bg { background-position: -420px 0px; }
	.help-category-services       .icon.icon-in-bg { background-position: -480px 0px; }

	/* firefox does NOT support transition background-position-x or y but does support background-position as a whole */
	.icon-hover-trigger:hover .help-category-new-user-guide .icon.icon-in-bg { background-position: 0px -60px; }
	.icon-hover-trigger:hover .help-category-faq            .icon.icon-in-bg { background-position: -60px -60px; }
	.icon-hover-trigger:hover .help-category-account        .icon.icon-in-bg { background-position: -120px -60px; }
	.icon-hover-trigger:hover .help-category-funds          .icon.icon-in-bg { background-position: -180px -60px; }
	.icon-hover-trigger:hover .help-category-bank-card      .icon.icon-in-bg { background-position: -240px -60px; }
	.icon-hover-trigger:hover .help-category-taiyx          .icon.icon-in-bg { background-position: -300px -60px; }
	.icon-hover-trigger:hover .help-category-funds-wiki     .icon.icon-in-bg { background-position: -360px -60px; }
	.icon-hover-trigger:hover .help-category-funds-venture  .icon.icon-in-bg { background-position: -420px -60px; }
	.icon-hover-trigger:hover .help-category-services       .icon.icon-in-bg { background-position: -480px -60px; }
/* ----- layout definition end ----------------- */




/* ----- theme definition begin ---------------- */
	.tiles > a,
	.tiles {
		color: #666;
		}

		.tiles > a:hover {
			color: #157dff;
		}

		.tile.odd {
			background-color: #f4f6f7;
		}
		/* :nth-child will cause ie8 css failure; */
		/* .tile:nth-child(odd) {
			background-color: #f4f6f7;
		} */
/* ----- theme definition end ------------------ */