/* ----- layout definition begin --------------- */
	#user-info-bar {
		overflow: hidden;
		}

		#user-info-bar:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		#ie-user-avatar-iframe-bg,
		#user-info-bar > .width-wrap {
			height: 106px;
			padding: 0;
		}
		#ie-user-iframe-body {
			height: 95px;
		}

		#ie-user-avatar-iframe-bg > .ie-bg,
		#user-info-bar > .ie-bg {
			width: 1920px;
			margin-left: -960px;
			left: 50%;
		}
		#ie-user-avatar-iframe-bg > .ie-bg {
			display: block!important;
			margin-left: -960.45px;
		}


		#user-info-bar-user-avatar {
			overflow: hidden;
			}

			#ie-user-avatar,
			#ie-user-avatar #ie-user-avatar-borders,
			#user-info-bar-user-avatar,
			#user-info-bar-user-avatar .avatar-borders {
				box-sizing: border-box;
				position: absolute;
				width: 84px;
				height: 84px;
			}

			#user-info-bar-user-avatar {
				left: 0;
				top: 11px;
			}
			#ie-user-avatar-iframe-bg {
				margin-left: 0;
				margin-top: -11px;
			}

			#ie-user-avatar .avatar,
			#user-info-bar-user-avatar .avatar {
				width: 80px;
				height: 80px;
			}
			#ie-user-avatar .avatar,
			#user-info-bar-user-avatar .avatar {
				position: absolute;
				left: 2px;
				top: 2px;
			}
			#ie-user-avatar #ie-user-avatar-borders.rectangle,
			#user-info-bar-user-avatar .avatar-borders {
				left: 0;
				top: 0;
				border-width: 2px;
				border-style: solid;
			}


			#user-info-bar-user-avatar .avatar-borders,
			#user-info-bar-user-avatar .avatar {
				border-radius: 1000px;
			}

			#user-info-bar-user-avatar .avatar {
				border: 0;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 100%;
				background-size: cover;
				overflow: hidden;
			}



			#user-info-bar-user-avatar > iframe {
				position: absolute;
				top: 0;
				left: 0;
				border: 0;
				}

				#ie-user-avatar {
					left: 0;
					top: 0;
				}

				#ie-user-avatar-iframe-bg {
					position: absolute;
					left: 0;
					top: 0;
					overflow: hidden;
					width: 1200px;
				}
				#ie-user-avatar-iframe-bg > .ie-bg {
					border: 0;
					height: 100%;
					margin-left: -960.45px;
				}

				#ie-user-avatar .avatar {
					z-index: 1;
					filter:  progid:DXImageTransform.Microsoft.Iris(IrisStyle=circle, Motion=out);
				}
				#ie-user-avatar #ie-user-avatar-borders {
					z-index: 2;
				}
				#ie-user-avatar img {
					position: absolute;
				}
				#ie-user-avatar #ie-user-avatar-borders:before {
					font-family: 'iconfont'!important;
					content: '\e623';
					font-size: 82.5px;
					line-height: 82.5px;
					position: absolute;
					top: -2.3px;
				}
				#ie-user-avatar #ie-user-avatar-borders.rectangle {
					top: 0;
					left: 0;
				}
				#ie-user-avatar #ie-user-avatar-borders.rectangle:before {
					content: none;
				}


		#user-info-bar .user-info-block {
			position: absolute;
			left: 98px;
			top: 25px;
			right: 50px;
		}

		#user-info-bar .user-info-block {
			font-size: 12px;
		}
		#user-info-bar .user-info-block .toolbar {
			position: absolute;
			left: 0;
			margin-left: -0.5em;
		}

		#user-info-bar .user-info-block .toolbar .toolbar {
			position: static;
		}

		#user-info-bar .user-info-block .toolbar.line-1 {
			top: 0;
		}

		#user-info-bar .user-info-block .toolbar.line-2 {
			top: 40px;
		}

		#user-info-bar .user-info-block .toolbar > li {
			display: inline-block;
			vertical-align: top;
			line-height: 20px;
			margin-right: 0;
		}
		#user-info-bar .user-info-block .toolbar.has-separator > li:before {
			padding: 0 1em 0 0;
			margin-left: -5px;
		}

		#user-info-bar .user-info-block .iconfont {
			font-size: 16.5px;
			padding: 0;
			margin: 0;
			margin-top: -2px;
			margin-top: -4px\0;
		}
		:root #user-info-bar .user-info-block .iconfont {
			margin-top: -2px\0;
		}


		#user-info-bar .toolbar h3 {
			padding: 5px;
			margin: -5px;
			font-size: 16px;
		}
		#user-info-bar .toolbar a {
			display: inline-block;
			padding: 3px 5px;
			margin: -3px 0;
			text-decoration: none;
		}

		#user-info-bar .user-info-block .toolbar > li.user-name-block {
			margin-right: 1em;
		}

		#user-info-bar .user-info-block .user-profile-items-block .profile-items-list li label {
			display: none;
		}

		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap {
			position: relative;
		}

		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap .bg,
		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap .value {
			text-align: center;
			width: 2em;
		}

		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap .bg {
			position: absolute;
			left: 0;
			right: 0;
			z-index: 0;
			line-height: 21px;
		}
		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap .value {
			display: inline-block;
			position: relative;
			z-index: 1;
		}
		#user-info-bar .user-info-block .user-rank-block .user-rank-wrap .iconfont {
			margin: 0;
			font-size: 20px;
		}





	.page {
		margin: 0;
		padding: 10px 0 20px 0;
	}

	.page-chief-part.cast-shadow {
		position: relative;
		margin: 10px 0;

		box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
		}

		.page-chief-part > .content {
			position: relative;
			z-index: 5;
			margin: 0;
			padding: 0;
			border: 0;
			border-width: 1px;
			border-style: solid;
			text-align: left;
			direction: ltr;
			white-space: nowrap;
			overflow: visible; /* for sidebar borders */
		}

		.page-chief-part .content .page-sidebar,
		.page-chief-part .content .page-content {
			position: relative;
			display: inline-block;
			vertical-align: top;
			white-space: normal;
		}
		.page-chief-part .content.has-sidebar:before,
		.page-chief-part .content .page-sidebar {
			width: 210px;
			margin-left: -1px;
		}
		.page-chief-part .content .page-sidebar {
		}
		.page-chief-part .content .page-content {
			width: 100%;
		}
		.page-chief-part .content.has-sidebar .page-content,
		.page-chief-part .content .page-sidebar ~ .page-content {
			width: 990px;
		}
		.page-chief-part .content.has-sidebar:before {
			content: '';
			box-sizing: border-box;
			display: block;
			position: absolute;
			left: 0;
			top: -1px;
			bottom: -1px;
			border-width: 1px;
			border-style: solid;
		}


	.page-sidebar {
		padding: 10px 0 40px 0;
		}
		.page-sidebar hr {
			margin: 20px 0;
		}


	#page-sidebar-nav {
		margin: 0;
		padding: 0;
		font-size: 14px;
		}

		#page-sidebar-nav .menu {
			display: block;
			position: relative;
			visibility: visible;
			opacity: 1;
			border: 0;
			padding: 0;
			margin: 0;
			overflow: hidden;
		}

		#page-sidebar-nav .menu-item {
			display: block;
			position: relative;
			padding: 0;
		}

		#page-sidebar-nav .menu-item.has-sub-menu > a > label:after,
		#page-sidebar-nav .menu-item.has-sub-menu > label:after {
			font-family: 'iconfont'!important;
			display: block;
			position: absolute;
			top: 9px;
			margin: 0;
			right: 25px;
			z-index: 5;

			height: 25px;
			font-size: 25px;
			line-height: 1;
			}
			#page-sidebar-nav .menu-item.has-sub-menu > a > label:after,
			#page-sidebar-nav .menu-item.has-sub-menu > label:after {
				content: '\e606';
			}
			#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a > label:after,
			#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label:after {
				content: '\e605';
			}

		#page-sidebar-nav .menu-item.has-sub-menu > .menu {
			height: 0;
		}

		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > .menu {
			height: auto;
		}

		#page-sidebar-nav .menu-item > a > label,
		#page-sidebar-nav .menu-item > label {
			box-sizing: border-box;
			min-height: 46px;
			line-height: 21px;
			border-style: solid;
			border-width: 1px 0 1px 1px;
			border-color: transparent;
			padding: 11px 44px;
			margin-bottom: -1px;
		}

		#page-sidebar-nav .menu-item > a > label,
		#page-sidebar-nav .menu-item > label {
			line-height: 22px\0;
		}
		:root #page-sidebar-nav .menu-item > a > label,
		:root #page-sidebar-nav .menu-item > label {
			line-height: 21px\0;
		}

		#page-sidebar-nav .menu.level-2 > .menu-item > a > label,
		#page-sidebar-nav .menu.level-2 > .menu-item > label {
			padding-left: 76px;
		}
/* ----- layout definition end ----------------- */









/* ----- theme definition begin ---------------- */
	#user-info-bar {
		color: white;
		}

		#ie-user-iframe-body,
		#ie-user-avatar-iframe-bg,
		#user-info-bar {
			background-color: #6b76ad;
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)\
			";
				filter: 
				progid:DXImageTransform.Microsoft.Gradient(startColorstr=#6b76ad, endColorstr=#9d99b9)
			;
		}

		#user-info-bar:before {
			background-image: 
				url(../../images/pages/xfzq/_common/user-info-bar-bg.png)
			; /* ie9 doesn't support css gradient */
			background-image: 
				url(../../images/pages/xfzq/_common/user-info-bar-bg.png),
				linear-gradient(to bottom, #6b76ad, #9d99b9)
			;
		}

		#ie-user-avatar-iframe-bg > .ie-bg,
		#user-info-bar > .ie-bg {
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.AlphaImageLoader(\
					src='../../images/pages/xfzq/_common/user-info-bar-bg.png',\
					sizingMethod='crop'\
				)\
			";
			filter:
				progid:DXImageTransform.Microsoft.AlphaImageLoader(
					src='../../images/pages/xfzq/_common/user-info-bar-bg.png',
					sizingMethod='crop'
				)
			;
		}

		#ie-user-avatar #ie-user-avatar-borders {
			color: white;
		}
		#ie-user-avatar #ie-user-avatar-borders.rectangle,
		#user-info-bar-user-avatar .avatar-borders {
			border-color: white;
			border-color: rgba(255, 255, 255, 0.5);
		}

		#user-info-bar .user-info-block a {
			color: white;
		}
		#user-info-bar .user-info-block a:hover {
			background-color: rgba(255, 255, 255, 0.2);
		}

		#ie-user-avatar #ie-user-avatar-borders { /* should NOT move into a separate css file, otherwise won't work */
			top: -1.5px;
			left: -1.33px;
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.Alpha(opacity=70)\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=1)\
			";
			filter:
				progid:DXImageTransform.Microsoft.Alpha(opacity=70)
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=1)
			;
		}

		#ie-user-avatar #ie-user-avatar-borders.rectangle { /* should NOT move into a separate css file, otherwise won't work */
			top: 0;
			left: 0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)";
				filter:  progid:DXImageTransform.Microsoft.Alpha(opacity=70);
		}


	#page-row {
		background-color: #f5f5f5;
		}
		.page-chief-part .content {
			border-color: #ddd;
			background-color: white;
		}
		.page-chief-part .content.has-sidebar .page-sidebar hr,
		.page-chief-part .content.has-sidebar:before {
			border-color: #dbdeeb;
		}
		.page-chief-part .content.has-sidebar:before {
			background-color: #ebedf5;
		}

	#page-sidebar-nav {
		}
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label,
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a > label {
			color: #333;
			border-color: transparent;
			background: transparent;
		}
		#page-sidebar-nav .menu-item.current > label,
		#page-sidebar-nav .menu-item.current > a > label {
			color: #333;
			background: white;
			border-color: #ddd;
		}
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > label:hover,
		#page-sidebar-nav .menu-item.has-sub-menu.sub-menu-shown > a:hover > label,
		#page-sidebar-nav .menu-item > label:hover,
		#page-sidebar-nav .menu-item > a:hover > label {
			color: #333;
			background: white;
			border-color: #ddd;
		}
/* ----- theme definition end ------------------ */
