hr, hr.dashed {
    background-color: #d0d0d0\0;
}


input[type="reset"].cast-shadow,
input[type="submit"].cast-shadow,
input[type="button"].cast-shadow,
button.cast-shadow,
button.cast-shadow .ie-bg,
button.r-tmnl                          .ie-bg,
button.r-tmnl.color-default            .ie-bg,
button.rounded-terminals               .ie-bg,
button.rounded-terminals.color-default .ie-bg,
button.r-cnr                           .ie-bg,
button.r-cnr.color-default             .ie-bg,
button.rounded-corners                 .ie-bg,
button.rounded-corners.color-default   .ie-bg {
    border-color: #157dff;
    background-color: #157dff;
}

button.color-default [class|="corner"]:before,
button               [class|="corner"]:before {
    color: #157dff;
}
button.color-default [class|="corner"]:after,
button               [class|="corner"]:after {
    color: #157dff;
}
.color-transparent {
    color: #157dff;
}
button.color-default [class|="corner"]:after,
button               [class|="corner"]:after {
    color: #157dff;
}

input[type="reset"].cast-shadow:hover,
input[type="submit"].cast-shadow:hover,
input[type="button"].cast-shadow:hover,
button.cast-shadow:hover,
button.cast-shadow:hover .ie-bg,
button.r-tmnl:hover                          .ie-bg,
button.r-tmnl.color-default:hover            .ie-bg,
button.rounded-terminals:hover               .ie-bg,
button.rounded-terminals.color-default:hover .ie-bg,
button.r-cnr:hover                           .ie-bg,
button.r-cnr.color-default:hover             .ie-bg,
button.rounded-corners:hover                 .ie-bg,
button.rounded-corners.color-default :hover  .ie-bg {
    background-color: #3f93ff;
}

button.r-tmnl:hover                          [class|="corner"]:after,
button.r-tmnl.color-default:hover            [class|="corner"]:after,
button.rounded-terminals:hover               [class|="corner"]:after,
button.rounded-terminals.color-default:hover [class|="corner"]:after,
button.r-cnr:hover                           [class|="corner"]:after,
button.r-cnr.color-default:hover             [class|="corner"]:after,
button.rounded-corners:hover                 [class|="corner"]:after,
button.rounded-corners.color-default :hover  [class|="corner"]:after {
    color: #3f93ff;
}


#my-assets .menu.level-1 > .ie-bg,
.search-block > .ie-bg {
    border-color: #e6e6e6;
}
#my-assets .menu.level-1 > .ie-bg [class|="corner"]:before,
.search-block > .ie-bg [class|="corner"]:before {
    color: #e6e6e6;
}



.info-block .info-locator .info {
    outline-color: #1579ac;
    }

    .info-block .info-locator .info .ie-shadow {
        background-color: #18f;
    }


#app-chief-nav {
    }

    #app-chief-nav .menu .deco > .ie-bg,
    #app-chief-nav .menu > .ie-bg [class|="corner"],
    #app-chief-nav .menu > .ie-bg {
        border-color: #e1e1e1;
    }

    #app-chief-nav .menu .deco > .ie-bg [class|="corner"]:before,
    #app-chief-nav .menu > .ie-bg [class|="corner"]:before {
        color: #e1e1e1;
    }

    #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > .deco {
        visibility: hidden;
    }

    #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover > .deco ,
    #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu.sub-menu-shown > .deco {
        visibility: visible;
    }
