.iconfont {
  -webkit-text-stroke-width: 0; /* reset iconfont default settings */
}

/* transitions: start */
	div, span, button, input, ol, ul, li, p,
	div:before, span:before, button:before, input:before, ol:before, ul:before, li:before, p:before,
	div:after, span:after, button:after, input:after, ol:after, ul:after, li:after, p:after {
		transition-property: visibility, opacity, color, background-color, border-color;
		transition-duration: 0.33s,      0.33s,   0.20s, 0.30s,            0.30s;
		transition-timing-function: ease-out;
	}


	/* input[type="submit"],        input[type="button"],        *[role="button"],        button,
	input[type="submit"]:before, input[type="button"]:before, *[role="button"]:before, button:before,
	input[type="submit"]:after,  input[type="button"]:after,  *[role="button"]:after,  button:after {
		transition-property: visibility, opacity, color, background-color, border-color, opacity;
	} */
/* transitions: end */



html {
	font-size: 20px;
}

body, button, input, select, option {
	font-size: 16px;
}

body {
	line-height: 1.25;
}

hr {
	font-size: 0;
	line-height: 0;
	position: relative;
	margin: 24px 0;
	display: block;
	width: 100%;
	height: 1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	box-sizing: border-box;
	}

	hr:before {
		content: '';
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		height: 0;
		border-width: 2px 0 0 0;
		border-style: solid;
		border-color: inherit!important;
	}

	hr.dashed:before {
		background-color: transparent;
		border-style: dashed;
	}

a, a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

select,
input[type="button"], input[type="submit"], input[type="reset"],
button {
	line-height: 1.25;
	min-height: 22px;
}


select.size-wide-std,
input[type="button"].size-wide-std, input[type="submit"].size-wide-std, input[type="reset"].size-wide-std,
button.size-wide-std {
	width: 170px;
}

input[type="button"].simple-look, input[type="submit"].simple-look, input[type="reset"].simple-look,
button.simple-look {
	min-height: 0;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
	padding: 0;
	border: none;
	background: none;
	background-color: transparent;
}

input[type="button"].simple-look label,
input[type="submit"].simple-look label,
input[type="reset"].simple-look label,
button.simple-look label {
	width: auto;
	border-width: 0px!important;
	border-style: none!important;
	border-color: transparent!important;
	display: inline;
	outline: none;
}


input:active,  input:focus,
select:active, select:focus,
label:active,  label:focus {
	outline-offset: -1px;
	outline-width: 1px;
	outline-style: none;
}

button:active, button:focus {
	outline-offset: -1px;
	outline-width: 0;
	outline-style: none;
}

input[type="checkbox"],
input[type="radio"] {
	min-height: 0;
}





.ie-bg {
	display: none;
}

.content {
}


.r-cnr,
.rounded-corners {
	border-radius: 5px;
	}
	.r-cnr.color-transparent,
	.rounded-corners.color-transparent {
		background-color: transparent!important;
	}
	.r-cnr           [class|="corner"],
	.rounded-corners [class|="corner"] {
		display: none;
	}
	.r-cnr           [class|="corner"]:before,
	.r-cnr           [class|="corner"]:after,
	.rounded-corners [class|="corner"]:before,
	.rounded-corners [class|="corner"]:after {
		content: none;
	}
	.r-cnr.r2px,
	.rounded-corners.r2px {
		border-radius: 2px;
	}
	.r-cnr.r3px,
	.rounded-corners.r3px {
		border-radius: 3px;
	}
	.r-cnr.r4px,
	.rounded-corners.r4px {
		border-radius: 4px;
	}
	.r-cnr.r5px,
	.rounded-corners.r5px {
		border-radius: 5px;
	}
	.r-cnr.r6px,
	.rounded-corners.r6px {
		border-radius: 6px;
	}
	.r-cnr.r7px,
	.rounded-corners.r7px {
		border-radius: 7px;
	}
	.r-cnr.r8px,
	.rounded-corners.r8px {
		border-radius: 8px;
	}
	.r-cnr.r9px,
	.rounded-corners.r9px {
		border-radius: 9px;
	}
	.r-cnr.r10px,
	.rounded-corners.r10px {
		border-radius: 10px;
	}
	.r-cnr.r12px,
	.rounded-corners.r12px {
		border-radius: 12px;
	}
	.r-cnr.r15px,
	.rounded-corners.r15px {
		border-radius: 15px;
	}

	.r-cnr.sharp-cnr-tl,
	.r-cnr.sharp-cnr-1,
	.rounded-corners.sharp-corner-tl,
	.rounded-corners.sharp-corner-1 {
		border-top-left-radius: 0!important;
	}

	.r-cnr.sharp-cnr-tr,
	.r-cnr.sharp-cnr-2,
	.rounded-corners.sharp-corner-tr,
	.rounded-corners.sharp-corner-2 {
		border-top-right-radius: 0!important;
	}

	.r-cnr.sharp-cnr-br,
	.r-cnr.sharp-cnr-3,
	.rounded-corners.sharp-corner-br,
	.rounded-corners.sharp-corner-3 {
		border-bottom-right-radius: 0!important;
	}

	.r-cnr.sharp-cnr-bl,
	.r-cnr.sharp-cnr-4,
	.rounded-corners.sharp-corner-bl,
	.rounded-corners.sharp-corner-4 {
		border-bottom-left-radius: 0!important;
	}


.r-tmnl,
.rounded-terminals {
	border-radius: 1000px!important;
	padding-left: 1.5em;
	padding-right: 1.5em;
	}
	.r-tmnl            .ie-bg,
	.rounded-terminals .ie-bg,
	.r-tmnl            [class|="corner"],
	.rounded-terminals [class|="corner"] {
		display: none;
	}
	.r-tmnl            [class|="corner"]:before
	.rounded-terminals [class|="corner"]:before {
		content: none;
	}

.cast-shadow {
	box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
	}
	.cast-inner-shadow {
		box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
	}
	.cast-shadow.shadow-large-and-blur {
		box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.5);
	}
	.ie-shadow {
		display: none;
	}



.row {
	position: relative;
	display: block;
	clear: both;
	float: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-size: cover;
	}

	.row > .ie-bg {
		overflow: hidden;
		position: absolute;
		text-align: center;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-size: cover;
		z-index: 0;
	}

	.row > .ie-bg:before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
		background-size: cover;
	}

.width-wrap {
	box-sizing: border-box;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	float: none;
	z-index: 1;
}



.iconfont,
.icon {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	vertical-align: middle;
}


.button-x {
	position: absolute;
	display: block;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	line-height: normal;
	padding: 0;
	margin: 0;
	border-width: 0;
	text-indent: 0;
	text-align: center;

	z-index: 50;
	overflow: hidden;
	}

	.button-x:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		right: 0;
		bottom: 0;
		padding: 0;
		border-width: 0;
		margin: 0;
		font-size: 0;

		opacity: 0;
	}

	.button-x:hover:before {
		opacity: 0.2;
	}

	.button-x:after {
		font-family:"iconfont" !important;
		content: '\e61e';
		position: relative;
		font-size: 16px;
	}


.has-border-triangle {
	position: relative;
	}

	.has-border-triangle > * {
		position: relative;
		z-index: 2;
	}

	.has-border-triangle::before {
		content: '';
		box-sizing: border-box;
		display: block;
		width: 1rem;
		height: 1rem;

		position: absolute;
		padding: 0;
		margin: 0;

		border-width: inherit!important;
		border-style: inherit!important;
		border-color: inherit!important;
		background-color: inherit!important;
		box-shadow: inherit!important;
		border-radius: 0;
		z-index: 1;
	}

	.has-border-triangle::before,
	.has-border-triangle.border-triangle-size-normal::before {
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}

	.has-border-triangle.border-triangle-size-thin::before {
		-webkit-transform: scaleX(0.5) rotateZ(45deg);
		transform: scaleX(0.5) rotateZ(45deg);
	}

	.has-border-triangle.border-triangle-size-fat::before {
		-webkit-transform: scaleX(1.5) rotateZ(45deg);
		transform: scaleX(1.5) rotateZ(45deg);
	}

	.has-border-triangle::before,
	.has-border-triangle.border-triangle-at-top::before {
		left: 50%;
		top: 0;
		margin-top: -0.33rem;
		margin-left: -0.5rem;
	}
	.has-border-triangle.border-triangle-at-bottom::before {
		left: 50%;
		top: auto;
		bottom: 0;
		margin-bottom: -0.33rem;
		margin-left: -0.5rem;
	}

	.has-border-triangle::after {
		content: '';
		display: block;
		width: auto;
		height: auto;

		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: 0;
		border: 0;
		padding: 0;

		border-radius: inherit!important;
		background-color: inherit!important;
		z-index: 1;
	}



.info-block {
	display: inline-block;
	position: relative;
	}
	.info-block > button.icon {
		display: inline-block;
		line-height: inherit;
		position: relative;
		vertical-align: top;
		padding: 0.3em 0.25em 0.2em;
		margin: 0;
		background-color: transparent;
		border: none;
		z-index: 12;
	}

	.info-block > button.icon .iconfont {
		margin: 0;
		font-size: 14px;
	}

	.info-block .info-locator {
		display: block;
		position: absolute;
		width: 400px;
		height: 0;
		overflow: visible!important;
		margin-top: 10px;
		margin-left: -10px;
		z-index: 10;
	}

	.info-block .info-locator:before { /* for stable hover */
		content: '';
		display: block;
		width: 80px;
		height: 40px;
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 0;
		background-color: transparent!important;
	}

	.info-block .info-locator .info {
		position: relative;
		z-index: 2;
		float: left;
		width: auto;
		text-align: left;
		font-size: 12px;
		padding: 0.25em;
		border-width: 1px;
		border-style: solid;
		line-height: 1.33;
		margin: 0;
	}

	.info-block .info-locator .info.has-border-triangle::before {
		left: 0;
		margin-left: 1em;
	}

	.info-block .info-locator .info p {
		padding: 0.25em 0.75em;
		margin: 0 -0.25em;
	}

	.info-block.info-auto-hide .info-locator {
		display: none;
	}

	.info-block.info-auto-hide.info-hover-to-show .info-locator {
		display: block;
		visibility: hidden;
		opacity: 0;
	}

	.info-block.info-auto-hide.info-hover-to-show:hover .info-locator {
		display: block;
		visibility: visible;
		opacity: 1;
	}




.expandable {
	display: block;
	position: relative;
	overflow: hidden!important;
	transition-property: left, right, margin, padding, border-width, width, height, max-width, max-height;
	}

	.expandable.hori {
		width: 0;
		min-width: 0;
	}

	.expandable.vert {
		height: 0;
		min-height: 0;
	}

	.expandable.hori.expanded {
	}



.layout-hori {
	}

	.layout-hori > li {
		position: relative;
		display: inline-block;
	}



.menu {
	display: block;
	position: relative;
	}
	.menu .menu-wrap {
		position: absolute;
		display: none;
	}
	.menu-item {
		position: relative;
	}
	.menu-item:before {
		content: '';
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		overflow: hidden;
		opacity: 0;
		width: 0;
		height: 100%;
	}
	.menu-item > label {
		cursor: pointer;

		position: relative;
		z-index: 5;

		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 8px;
		max-height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.menu.layout-hori > .menu-item {
		height: 100%;
	}

	.menu.layout-hori > .menu-item > label {
		text-align: center;
	}

	.menu.layout-hori > .menu-item.has-sub-menu > label:after {
		font-family:"iconfont" !important;
		content: '\e607';
		display: block;
		width: 10px;
		height: 10px;
		line-height: 10px;
		text-indent: 0;
		font-size: 12px;

		position: absolute;
		z-index: 1;
		overflow: hidden;
		left: auto;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto 0 auto 0;
	}

	.menu.layout-hori > .menu-item.has-sub-menu.sub-menu-shown > label:after {
		content: '\e605';
	}



.popup-layers {
	box-sizing: border-box;
	display: block;
	position: fixed;
	overflow: visible !important;
	width: 100%;
	left: 0;
	top: 0;
	height: 0;
	background-color: transparent !important;
	background-image: none !important;

	z-index: 500;
	}

	.popup-layers-container-backplate {
		box-sizing: border-box;
		display: none;
		width: 100%;
		height: 100%;
		padding: 0;

		position: fixed;
		left: 0;
		top: 0;
		margin: 0;

		overflow: hidden;

		font-size: 0;
		float: none;
		clear: both;

		z-index: 1;

		background-color: rgba(0, 0, 0, 0.8);
	}

	.popup-layers-container {
		position: relative;
		display: block;
		width: 0;
		height: 0;
		left: 0;
		top: 0;
		overflow: visible !important;
		background-color: transparent!important;
		background-image: none!important;

		z-index: 2;
	}


.popup-layer {
	position: fixed;
	margin: 0;
	padding: 0;
	border: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	display: none;
	}

	.popup-layer.current {
		z-index: 1;
	}

	.popup-window {
		position: absolute;
		margin: auto;
		padding: 0;
		border: 0;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		max-width: 90%;
		max-height: 90%;
	}

	.popup-window .content {
		overflow: hidden;
	}
