input[type="reset"].cast-shadow,
input[type="reset"].cast-shadow .bg,
input[type="submit"].cast-shadow,
input[type="submit"].cast-shadow .bg,
input[type="button"].cast-shadow,
input[type="button"].cast-shadow .bg,
button.cast-shadow,
button.cast-shadow .bg,
.r-tmnl                          .bg,
.r-tmnl.color-default            .bg,
.rounded-terminals               .bg,
.rounded-terminals.color-default .bg,
.r-cnr                           .bg,
.r-cnr.color-default             .bg,
.rounded-corners                 .bg,
.rounded-corners.color-default   .bg {
    border-color: #157dff;
    background-color: #157dff;
}
.color-default [class|="corner"]:before,
               [class|="corner"]:before {
    color: #157dff;
}
.color-default [class|="corner"]:after,
               [class|="corner"]:after {
    color: #157dff;
}
.color-transparent {
    color: #157dff;
}
.color-default [class|="corner"]:after,
               [class|="corner"]:after {
    color: #157dff;
}
.r-cnr.r-cnr-png                     [class|="corner"],
.rounded-corners.rounded-corners-png [class|="corner"] {
    background-image: url(../../images/utilities/rounded-corners-5px-_default.png);
}
.r-tmnl.r-tmnl-png                       [class|="corner"],
.rounded-terminals.rounded-terminals-png [class|="corner"] {
    background-image: url(../../images/utilities/rounded-terminals-_default.png);
}




.color-pink {
    color: black;
}
.color-pink [class|="corner"]:before {
    color: red;
}
.color-pink [class|="corner"]:after {
    color: pink;
}
.color-pink .bg {
    border-color: red;
    background-color: pink;
}
.r-cnr.r-cnr-png.color-pink                     [class|="corner"],
.rounded-corners.rounded-corners-png.color-pink [class|="corner"] {
    background-image: url(../../images/utilities/rounded-corners-5px-pink.png);
}
