hr, hr.dashed {
    background-color: #d0d0d0\0;
}


button {
    }

    button > .ie-borders {
        border-color: #157dff;
    }

    button > .ie-bg {
        /* background-color: #157dff; */
    }

    button > .ie-borders,
    button > .ie-bg {
        color: #157dff;
    }

    button:hover > .ie-bg {
        color: #3f93ff;
    }

    button.bg-transparent > .ie-bg {
        display: none;
        left: -0.66px;
        right: 0;
        top: 0;
        bottom: 0;
        }
        button.bg-transparent > .ie-bg:before,
        button.bg-transparent > .ie-bg:after {
            content: none!important;
        }
        button.bg-transparent > .ie-bg [class|="corner"] {
            display: none;
        }

        button.bg-transparent:hover > .ie-bg {
            display: block;
        }

        button.bg-transparent > .ie-bg {
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33157dff, endColorStr=#33157dff)";
                filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33157dff, endColorStr=#33157dff);
        }
        button.bg-transparent.color-white > .ie-borders {
            color: white;
            border-color: white;
        }
        button.bg-transparent.color-white > .ie-bg {
            background-color: transparent;
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33FFFFFF, endColorStr=#33FFFFFF)";
                filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33FFFFFF, endColorStr=#33FFFFFF);
        }


label.deco-input .ie-borders {
    color: #e6e6e6;
    }
    label.deco-input input:active ~ .ie-borders,
    label.deco-input input:focus ~ .ie-borders {
        color: #157fdd;
    }

.has-border-triangle > .ie-border-triangle-shadow-matte,
.ie-shadow-matte {
    background-color: black;
}

.floating-layer-set {
    }

    .floating-layer-set.floating-info-set .floating-layer > .ie-border-triangle-shadow-matte,
    .floating-layer-set.floating-info-set .floating-layer > .ie-shadow .ie-shadow-matte {
        background-color: #33ddff;
    }

    .floating-layer-set.floating-info-set .floating-layer > .ie-shadow .ie-shadow-matte {
        margin: -10px 8px 8px -10px;
        -ms-filter: "\
            progid:DXImageTransform.Microsoft.Alpha(Opacity=60)\
            progid:DXImageTransform.Microsoft.Glow(Color=#33ddff, strength=6)\
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)\
        ";
        filter: 
            progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
            progid:DXImageTransform.Microsoft.Glow(Color=#33ddff, strength=6)
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)
        ;
    }
    .floating-layer-set.floating-info-set .floating-layer.has-border-triangle > .ie-border-triangle-shadow-matte {
        left: 0;
        top: -24px;
        margin: 0;
        filter:
            progid:DXImageTransform.Microsoft.Matrix(
                M11=0.7071067811865474,
                M12=-0.7071067811865477,
                M21=0.7071067811865477,
                M22=0.7071067811865474,
                SizingMethod='auto expand'
            )
            progid:DXImageTransform.Microsoft.Alpha(Opacity=25)
            progid:DXImageTransform.Microsoft.Glow(Color=#33ddff, strength=6)
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)
        ;
    }


.dialog > .deco .ie-bg {
    color: #222;
    background-color: #222;
    }


#app-chief-nav {
    }
    #app-chief-nav .menu.level-2 > .ie-borders,
    #app-chief-nav .menu .deco > .ie-borders {
        color: #e1e1e1;
        border-color: #e1e1e1;
    }


#my-assets {
    }

    .search-block > .ie-borders,
    #my-assets .menu.level-1 > .ie-borders,
    #my-assets .menu.level-1 > .menu-item > .deco > .ie-borders,
    #my-assets .menu.level-2 > .ie-borders {
        color: #e6e6e6;
        border-color: #e6e6e6;
    }

    #my-assets .menu.level-1 > .menu-item > .deco .ie-shadow-matte {
        /* clip: rect(-9px, 200px, 40px, -9px); */
    }
    #my-assets .menu.level-2 > .ie-patch {
        background-color: white;
    }
