input[type="reset"].cast-shadow,
input[type="submit"].cast-shadow,
input[type="button"].cast-shadow,
button.cast-shadow,
button.cast-shadow .ie-bg,
button.r-tmnl                          .ie-bg,
button.r-tmnl.color-default            .ie-bg,
button.rounded-terminals               .ie-bg,
button.rounded-terminals.color-default .ie-bg,
button.r-cnr                           .ie-bg,
button.r-cnr.color-default             .ie-bg,
button.rounded-corners                 .ie-bg,
button.rounded-corners.color-default   .ie-bg {
    border-color: #157dff;
    background-color: #157dff;
}

button.color-default [class|="corner"]:before,
button               [class|="corner"]:before {
    color: #157dff;
}
button.color-default [class|="corner"]:after,
button               [class|="corner"]:after {
    color: #157dff;
}
.color-transparent {
    color: #157dff;
}
button.color-default [class|="corner"]:after,
button               [class|="corner"]:after {
    color: #157dff;
}

input[type="reset"].cast-shadow:hover,
input[type="submit"].cast-shadow:hover,
input[type="button"].cast-shadow:hover,
button.cast-shadow:hover,
button.cast-shadow:hover .ie-bg,
button.r-tmnl:hover                          .ie-bg,
button.r-tmnl.color-default:hover            .ie-bg,
button.rounded-terminals:hover               .ie-bg,
button.rounded-terminals.color-default:hover .ie-bg,
button.r-cnr:hover                           .ie-bg,
button.r-cnr.color-default:hover             .ie-bg,
button.rounded-corners:hover                 .ie-bg,
button.rounded-corners.color-default :hover  .ie-bg {
    background-color: #3f93ff;
}

button.r-tmnl:hover                          [class|="corner"]:after,
button.r-tmnl.color-default:hover            [class|="corner"]:after,
button.rounded-terminals:hover               [class|="corner"]:after,
button.rounded-terminals.color-default:hover [class|="corner"]:after,
button.r-cnr:hover                           [class|="corner"]:after,
button.r-cnr.color-default:hover             [class|="corner"]:after,
button.rounded-corners:hover                 [class|="corner"]:after,
button.rounded-corners.color-default :hover  [class|="corner"]:after {
    color: #3f93ff;
}




button.color-pink {
    color: black;
}
button.color-pink [class|="corner"]:before {
    color: red;
}
button.color-pink [class|="corner"]:after {
    color: pink;
}
button.color-pink .ie-bg {
    border-color: red;
    background-color: pink;
}
button.r-cnr.r-cnr-png.color-pink                     [class|="corner"],
button.rounded-corners.rounded-corners-png.color-pink [class|="corner"] {
    background-image: url(../../images/utilities/rounded-corners-5px-pink.png);
}




#app-chief-nav {
    }

    #app-chief-nav .menu .deco > .ie-bg,
    #app-chief-nav .menu > .ie-bg [class|="corner"],
    #app-chief-nav .menu > .ie-bg {
        border-color: #e1e1e1;
    }

    #app-chief-nav .menu .deco > .ie-bg [class|="corner"]:before,
    #app-chief-nav .menu > .ie-bg [class|="corner"]:before {
        color: #e1e1e1;
    }

    #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > .deco {
        filter: alpha(opacity=0);
    }

    #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover > .deco {
        filter: none;
    }
