.ie8-input-fake-placeholder {
	display: block;
	position: absolute;
}

.has-border-triangle > .ie-border-triangle {
	box-sizing: border-box;
	display: block;
	width: 16px;
	height: 16px;

	position: absolute;
	z-index: 1;
	padding: 0;
	margin: 0;

	border-width: inherit!important;
	border-style: inherit!important;
	border-color: inherit!important;
	background-color: inherit!important;

	clip: rect(0px, 100px, 10px, 0px);

	-ms-filter: "\
		progid:DXImageTransform.Microsoft.Matrix(\
			M11=0.7071067811865474,\
			M12=-0.7071067811865477,\
			M21=0.7071067811865477,\
			M22=0.7071067811865474,\
			SizingMethod='auto expand'\
		)\
	";
	filter:
		progid:DXImageTransform.Microsoft.Matrix(
			M11=0.7071067811865474,
			M12=-0.7071067811865477,
			M21=0.7071067811865477,
			M22=0.7071067811865474,
			SizingMethod='auto expand'
		)
	;
	}

	.has-border-triangle > .ie-border-triangle,
	.has-border-triangle.border-triangle-at-top > .ie-border-triangle {
		left: 50%;
		top: 0;
		margin-top: -11px;
		margin-left: -11px;
	}
	.has-border-triangle.border-triangle-at-bottom > .ie-border-triangle {
		left: 50%;
		top: auto;
		bottom: 0;
		margin-bottom: -8px;
		margin-left: -8px;
	}


.ie-borders,
.ie-bg {
	overflow: visible!important;

	display: block;
	position: absolute;
	border-style: solid;
	border-width: 0;
	z-index: 0;

	padding: 0;
	margin: 0;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	}

	.ie-borders:before,
	.ie-borders:after,
	.ie-borders {
		background-color: transparent!important;
	}

	.ie-bg ~ .content {
		position: relative;
		z-index: 1;
	}


label.deco-input {
	padding: 4px;
	}
	label.deco-input .ie-borders {
		border-width: 0px;
	}

	label.deco-input .ie-borders [class|="corner"] {
		display: block;
	}



.cast-shadow {
	position: relative;
	}
	.cast-shadow > .ie-bg {
		color: white;
		/* background-color: white; */
	}
	.cast-shadow > .ie-shadow {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		}
		.ie-shadow .ie-shadow-matte {
			display: block;
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 0;

			background-color: black!important;
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.2)\
			";
			filter: 
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.2);
			zoom: 1;
		}
		.shadow-large-and-blur .ie-shadow .ie-shadow-matte {
			-ms-filter: "\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=1)\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=8, MakeShadow=true,ShadowOpacity=1)\
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=true,ShadowOpacity=0.32)\
			";
			filter: 
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=12,MakeShadow=true,ShadowOpacity=1)
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=8, MakeShadow=true,ShadowOpacity=1)
				progid:DXImageTransform.Microsoft.Blur(PixelRadius=4, MakeShadow=true,ShadowOpacity=0.32)
			;
			left: -34px;
			top: -34px;
			right: 17px;
			bottom: 17px;
		}
	.cast-shadow > .ie-bg {
		z-index: 1;
	}
	.cast-shadow > .ie-bg ~ .content {
		z-index: 2;
	}
	.cast-shadow label {
		z-index: 2;
	}


.rounded-terminals,
.rounded-corners {
	position: relative;
	border-color: transparent!important;
	background-color: transparent!important;
}


.rounded-corners {
	}

	.rounded-corners > .ie-borders,
	.rounded-corners > .ie-bg {
		left: 13px;
		right: 13px;
		top: 13px;
		bottom: 13px;
		}

		.has-borders.rounded-corners > .ie-borders,
		.has-borders.rounded-corners > .ie-bg,
		.deco-input.rounded-corners  > .ie-borders,
		.deco-input.rounded-corners  > .ie-bg,
		button.rounded-corners       > .ie-borders,
		button.rounded-corners       > .ie-bg {
			 /* compensates for borders of parent */
			left: 12px;
			right: 12px;
			top: 12px;
			bottom: 12px;
			margin: 0px;
		}

		.rounded-corners > .ie-borders:before,
		.rounded-corners > .ie-borders:after {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			border-style: inherit!important;
			border-color: inherit!important;
			background-color: transparent!important;
			overflow: hidden;
		}
		.rounded-corners > .ie-bg:before,
		.rounded-corners > .ie-bg:after {
			font-family: 'iconfont'!important;
			content: '\e681';
			display: block;
			box-sizing: border-box;
			position: absolute;
			border-style: none!important;
			border-color: transparent!important;
			background-color: inherit!important;
			overflow: hidden!important;

			font-size: 2000px;
			text-indent: -800px;
			line-height: 1000px;
		}
		.rounded-corners > .ie-borders:before,
		.rounded-corners > .ie-bg:before {
			left: 0px;
			right: 0px;
		}
		.rounded-corners > .ie-borders:after,
		.rounded-corners > .ie-bg:after {
			top: 0px;
			bottom: 0px;
		}
		.rounded-corners > .ie-borders:before {
			top: -12.96px;
			bottom: -13.14px;
		}
		.rounded-corners > .ie-borders:after {
			left: -13.14px;
			right: -12.89px;
		}
		.rounded-corners > .ie-bg:before {
			top: -12.14px;
			bottom: -12.14px;
		}
		.rounded-corners > .ie-bg:after {
			left: -12.14px;
			right: -11.86px;
		}

		.rounded-corners > .ie-borders:before {
			border-width: 1px 0!important;
		}
		.rounded-corners > .ie-borders:after {
			border-width: 0 1px!important;
		}


	.rounded-corners > .ie-borders [class|="corner"],
	.rounded-corners > .ie-bg      [class|="corner"] {
		display: block;
		position: absolute;
		width: 14px;
		height: 14px;
		white-space: nowrap;
		overflow: hidden;
		z-index: 0;
		padding: 0;
		margin: 0;

		border: none;
		font-style: normal!important;
		font-weight: normal!important;
		background-repeat: no-repeat!important;
		}

		.rounded-corners > .ie-borders .corner-1,
		.rounded-corners > .ie-borders .corner-2,
		.rounded-corners > .ie-bg      .corner-1,
		.rounded-corners > .ie-bg      .corner-2 {
			top: -13px;
		}
		.rounded-corners > .ie-borders .corner-1,
		.rounded-corners > .ie-borders .corner-4,
		.rounded-corners > .ie-bg      .corner-1,
		.rounded-corners > .ie-bg      .corner-4 {
			left: -13.31px;
		}
		.rounded-corners.sharp-corner-tl > .ie-bg .corner-1,
		.rounded-corners.sharp-corner-1  > .ie-bg .corner-1,
		.rounded-corners.sharp-corner-bl > .ie-bg .corner-4,
		.rounded-corners.sharp-corner-4  > .ie-bg .corner-4 {
			left: -12.96px;
		}
		.rounded-corners > .ie-borders .corner-2,
		.rounded-corners > .ie-borders .corner-3,
		.rounded-corners > .ie-bg      .corner-2,
		.rounded-corners > .ie-bg      .corner-3 {
			right: -12.96px;
		}
		.rounded-corners.sharp-corner-tr > .ie-bg .corner-2,
		.rounded-corners.sharp-corner-2  > .ie-bg .corner-2,
		.rounded-corners.sharp-corner-br > .ie-bg .corner-3,
		.rounded-corners.sharp-corner-3  > .ie-bg .corner-3 {
			right: -11.96px;
		}
		.rounded-corners > .ie-borders .corner-3,
		.rounded-corners > .ie-borders .corner-4,
		.rounded-corners > .ie-bg      .corner-3,
		.rounded-corners > .ie-bg      .corner-4 {
			bottom: -13.2px;
		}


		.rounded-corners > .ie-borders [class|="corner"]:before,
		.rounded-corners > .ie-bg      [class|="corner"]:before {
			font-family: 'iconfont'!important;
			display: block;
			position: absolute;
			white-space: nowrap;
			text-indent: 0;

			padding: 0;
			margin: 0;
			width:  50px;
			height: 50px;

			background-repeat: no-repeat!important;

			/* the original design was 40px*40px, which makes the strokes being 1px wide */
			font-size: 40px;
		}
		.rounded-corners > .ie-borders .corner-1:before,
		.rounded-corners > .ie-borders .corner-2:before,
		.rounded-corners > .ie-bg      .corner-1:before,
		.rounded-corners > .ie-bg      .corner-2:before {
			line-height: 37px;
		}
		.rounded-corners > .ie-borders .corner-3:before,
		.rounded-corners > .ie-borders .corner-4:before,
		.rounded-corners > .ie-bg      .corner-3:before,
		.rounded-corners > .ie-bg      .corner-4:before {
			line-height: 56.6px;
		}

		.rounded-corners > .ie-borders .corner-1:before,
		.rounded-corners > .ie-borders .corner-2:before,
		.rounded-corners > .ie-bg      .corner-1:before,
		.rounded-corners > .ie-bg      .corner-2:before {
			top: 0;
		}
		.rounded-corners > .ie-borders .corner-3:before,
		.rounded-corners > .ie-borders .corner-4:before,
		.rounded-corners > .ie-bg      .corner-3:before,
		.rounded-corners > .ie-bg      .corner-4:before {
			bottom: 0;
		}
		.rounded-corners > .ie-borders .corner-1:before,
		.rounded-corners > .ie-borders .corner-4:before,
		.rounded-corners > .ie-bg      .corner-1:before,
		.rounded-corners > .ie-bg      .corner-4:before {
			left: 0;
		}
		.rounded-corners > .ie-borders .corner-2:before,
		.rounded-corners > .ie-borders .corner-3:before {
			text-align: right;
			direction: rtl;
			right: 0;
		}
		.rounded-corners > .ie-bg      .corner-2:before,
		.rounded-corners > .ie-bg      .corner-3:before {
			text-align: right;
			direction: rtl;
			right: 0;
		}

		.rounded-corners       > .ie-borders [class|="corner"]:before { content: '\e665'; }
		.rounded-corners.r2px  > .ie-borders [class|="corner"]:before { content: '\e662'; }
		.rounded-corners.r3px  > .ie-borders [class|="corner"]:before { content: '\e663'; }
		.rounded-corners.r4px  > .ie-borders [class|="corner"]:before { content: '\e664'; }
		.rounded-corners.r5px  > .ie-borders [class|="corner"]:before { content: '\e665'; }
		.rounded-corners.r6px  > .ie-borders [class|="corner"]:before { content: '\e666'; }
		.rounded-corners.r7px  > .ie-borders [class|="corner"]:before { content: '\e667'; }
		.rounded-corners.r8px  > .ie-borders [class|="corner"]:before { content: '\e668'; }
		.rounded-corners.r9px  > .ie-borders [class|="corner"]:before { content: '\e669'; }
		.rounded-corners.r10px > .ie-borders [class|="corner"]:before { content: '\e66a'; }
		.rounded-corners.r12px > .ie-borders [class|="corner"]:before { content: '\e66b'; }
		.rounded-corners.r15px > .ie-borders [class|="corner"]:before { content: '\e66c'; }

		.rounded-corners       > .ie-bg      [class|="corner"]:before { content: '\e684'; }
		.rounded-corners.r2px  > .ie-bg      [class|="corner"]:before { content: '\e681'; }
		.rounded-corners.r3px  > .ie-bg      [class|="corner"]:before { content: '\e682'; }
		.rounded-corners.r4px  > .ie-bg      [class|="corner"]:before { content: '\e683'; }
		.rounded-corners.r5px  > .ie-bg      [class|="corner"]:before { content: '\e684'; }
		.rounded-corners.r6px  > .ie-bg      [class|="corner"]:before { content: '\e685'; }
		.rounded-corners.r7px  > .ie-bg      [class|="corner"]:before { content: '\e686'; }
		.rounded-corners.r8px  > .ie-bg      [class|="corner"]:before { content: '\e687'; }
		.rounded-corners.r9px  > .ie-bg      [class|="corner"]:before { content: '\e688'; }
		.rounded-corners.r10px > .ie-bg      [class|="corner"]:before { content: '\e689'; }
		.rounded-corners.r12px > .ie-bg      [class|="corner"]:before { content: '\e68a'; }
		.rounded-corners.r15px > .ie-bg      [class|="corner"]:before { content: '\e68b'; }

		.rounded-corners.sharp-corner-tl > .ie-borders .corner-1:before,
		.rounded-corners.sharp-corner-1  > .ie-borders .corner-1:before,

		.rounded-corners.sharp-corner-tr > .ie-borders .corner-2:before,
		.rounded-corners.sharp-corner-2  > .ie-borders .corner-2:before,

		.rounded-corners.sharp-corner-br > .ie-borders .corner-3:before,
		.rounded-corners.sharp-corner-3  > .ie-borders .corner-3:before,

		.rounded-corners.sharp-corner-bl > .ie-borders .corner-4:before,
		.rounded-corners.sharp-corner-4  > .ie-borders .corner-4:before {
			content: '\e660'!important;
		}

		.rounded-corners.sharp-corner-tl > .ie-bg      .corner-1:before,
		.rounded-corners.sharp-corner-1  > .ie-bg      .corner-1:before,

		.rounded-corners.sharp-corner-tr > .ie-bg      .corner-2:before,
		.rounded-corners.sharp-corner-2  > .ie-bg      .corner-2:before,

		.rounded-corners.sharp-corner-br > .ie-bg      .corner-3:before,
		.rounded-corners.sharp-corner-3  > .ie-bg      .corner-3:before,

		.rounded-corners.sharp-corner-bl > .ie-bg      .corner-4:before,
		.rounded-corners.sharp-corner-4  > .ie-bg      .corner-4:before {
			content: '\e679'!important;
			font-size: 100px;
			line-height: 50px;
			text-indent: -40px;
		}



.rounded-terminals {
	}

	.rounded-terminals > .ie-bg {
		margin: -1px;
		left: 1.5em;
		right: 1.5em;
		top: 0;
		bottom: 0;
		}

		.rounded-terminals > .ie-bg .corner-1,
		.rounded-terminals > .ie-bg .corner-2 {
			width: 1.5em;
		}

		.rounded-terminals > .ie-bg .corner-1 {
			left: -1.5em;
			background-position: left top;
		}
		.rounded-terminals > .ie-bg .corner-2 {
			right: -1.5em;
			background-position: right top;
		}

		.rounded-terminals > .ie-bg:before {
			content: '';
			display: block;
			box-sizing: border-box;
			position: absolute;
			border-width: 1px 0!important;
			border-style: inherit!important;
			border-color: inherit!important;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

	.rounded-terminals > .ie-bg [class|="corner"] {
		display: block;
		position: absolute;
		height: 100%;
		white-space: nowrap;
		overflow: hidden;
		z-index: 0;
		padding: 0;
		margin: 0;

		/* filter: alpha(opacity=100); */

		border: none!important;
		font-style: normal!important;
		font-weight: normal!important;
		background-repeat: no-repeat!important;

		top: 0;
		}


		.rounded-terminals > .ie-bg [class|="corner"]:before,
		.rounded-terminals > .ie-bg [class|="corner"]:after {
			font-family: 'iconfont'!important;
			content: '\e661';
		}

		.rounded-terminals > .ie-bg [class|="corner"]:before,
		.rounded-terminals > .ie-bg [class|="corner"]:after {
			display: block;
			position: absolute;
			white-space: nowrap;
			overflow: hidden;

			padding: 0;
			margin: 0;
			width:  100px;
			height: 100%;

			background-repeat: no-repeat;
			background-color: none!important;
		}
		.rounded-terminals > .ie-bg [class|="corner"]:before {
			top: 0;
		}
		.rounded-terminals > .ie-bg [class|="corner"]:after {
			top: 1px;
		}
		.rounded-terminals > .ie-bg .corner-1:before {
			left: 0;
		}
		.rounded-terminals > .ie-bg .corner-1:after {
			left: 1px;
		}
		.rounded-terminals > .ie-bg .corner-2:before {
			text-align: right;
			direction: rtl;
			right: 0;
		}
		.rounded-terminals > .ie-bg .corner-2:after {
			direction: rtl;
			text-align: right;
			right: 1px;
		}


	.rounded-terminals > .ie-bg [class|="corner"]:before {
		/* the original design was 80px*80px, which makes the radii being 40px */
		font-size: 80px;
		line-height: 73.5px;
		}
		.rounded-terminals > .ie-bg [class|="corner"]:after {
			font-size: 76.1px;
			line-height: 69.1px;
		}




button {
	overflow: visible;
}
button label {
	position: relative;
	width: 100%;
	display: block;
	border: none!important;
	padding: 0;
	margin: 0;
	min-height: inherit;
	z-index: 1;
}




.ie-borders {
    color: black;
	border-color: black;
}
.ie-bg {
    color: white;
	background-color: transparent; /*  */
}
.bg-transparent > .ie-bg {
	background-color: transparent;
}




.deco-input {
	margin-left: -0.87px;
	margin-top: -0.87px;
}

.button-x {
	}

	.button-x:before {
		content: none; /* ie8 has :before Alpha(opacity) bug */
	}

	.button-x:after {
		position: static;
	}

	.button-x:hover {
		-ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF)";
		    filter:  progid:DXImageTransform.Microsoft.Gradient(startColorstr=#33FFFFFF, endColorstr=#33FFFFFF);
	}

.popup-layers-container-backplate {
	background-color: black;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=80)";
	    filter:  progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	zoom: 1;
}


.info-block .info-locator {
    }

	.info-block .info-locator .info.has-border-triangle .ie-border-triangle {
		left: 0;
		top: -4px;
		margin-left: 3px;
		z-index: 1!important;

		clip: rect(0px, 30px, 15px, 0px);
	}

    .info-block .info-locator .info > .ie-shadow {
    	display: block;
    	position: absolute;
        left: -10px;
        top: -10px;
        right: 2px;
        bottom: 2px;
        z-index: 0!important;

        -ms-filter: "\
            progid:DXImageTransform.Microsoft.Alpha(Opacity=60)\
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)\
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=2)\
        ";
        filter: 
            progid:DXImageTransform.Microsoft.Alpha(Opacity=60)
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=3)
            progid:DXImageTransform.Microsoft.Blur(PixelRadius=2)
        ;
    }

    .info-block .info-locator .info > .content {
    	display: block;
    	position: relative;
    	background: inherit!important;
    	border: 1px solid transparent;
    	margin: -3px;
    }

#app-chief-nav .menu.level-2 > .ie-shadow .ie-shadow-matte,
#app-chief-nav .menu.level-1 > .menu-item > .deco .ie-shadow-matte,

#my-assets .menu.level-2 > .ie-shadow .ie-shadow-matte,
#my-assets .menu.level-1 > .menu-item > .deco .ie-shadow-matte {
    -ms-filter: "\
        progid:DXImageTransform.Microsoft.Alpha(Opacity=15)\
        progid:DXImageTransform.Microsoft.Blur(PixelRadius=6)\
    ";
    filter: 
        progid:DXImageTransform.Microsoft.Alpha(Opacity=15)
        progid:DXImageTransform.Microsoft.Blur(PixelRadius=6)
    ;

	left: -7px;
	top: -7px;
	right: 5px;
	bottom: 5px;
}
