input[type="reset"].cast-shadow,
input[type="submit"].cast-shadow,
input[type="button"].cast-shadow,
button.cast-shadow,
button.cast-shadow .bg,
.r-tmnl                          .bg,
.r-tmnl.color-default            .bg,
.rounded-terminals               .bg,
.rounded-terminals.color-default .bg,
.r-cnr                           .bg,
.r-cnr.color-default             .bg,
.rounded-corners                 .bg,
.rounded-corners.color-default   .bg {
    border-color: #157dff;
    background-color: #157dff;
}

.color-default [class|="corner"]:before,
               [class|="corner"]:before {
    color: #157dff;
}
.color-default [class|="corner"]:after,
               [class|="corner"]:after {
    color: #157dff;
}
.color-transparent {
    color: #157dff;
}
.color-default [class|="corner"]:after,
               [class|="corner"]:after {
    color: #157dff;
}

input[type="reset"].cast-shadow:hover,
input[type="submit"].cast-shadow:hover,
input[type="button"].cast-shadow:hover,
button.cast-shadow:hover,
button.cast-shadow:hover .bg,
.r-tmnl:hover                          .bg,
.r-tmnl.color-default:hover            .bg,
.rounded-terminals:hover               .bg,
.rounded-terminals.color-default:hover .bg,
.r-cnr:hover                           .bg,
.r-cnr.color-default:hover             .bg,
.rounded-corners:hover                 .bg,
.rounded-corners.color-default :hover  .bg {
    background-color: #3f93ff;
}

.r-tmnl:hover                          [class|="corner"]:after,
.r-tmnl.color-default:hover            [class|="corner"]:after,
.rounded-terminals:hover               [class|="corner"]:after,
.rounded-terminals.color-default:hover [class|="corner"]:after,
.r-cnr:hover                           [class|="corner"]:after,
.r-cnr.color-default:hover             [class|="corner"]:after,
.rounded-corners:hover                 [class|="corner"]:after,
.rounded-corners.color-default :hover  [class|="corner"]:after {
    color: #3f93ff;
}




.color-pink {
    color: black;
}
.color-pink [class|="corner"]:before {
    color: red;
}
.color-pink [class|="corner"]:after {
    color: pink;
}
.color-pink .bg {
    border-color: red;
    background-color: pink;
}
.r-cnr.r-cnr-png.color-pink                     [class|="corner"],
.rounded-corners.rounded-corners-png.color-pink [class|="corner"] {
    background-image: url(../../images/utilities/rounded-corners-5px-pink.png);
}
