html {
    font-size: 10px;
}

body, button, input, select, option {
    font-size: 16px;
}

body {
    line-height: 1.25;
}

a {}

select,
input[type="button"], input[type="submit"], input[type="reset"],
button {
    line-height: 1.25;
    min-height: 22px;
}

input:active,  input:focus,
select:active, select:focus,
label:active,  label:focus {
    outline-offset: -1px;
    outline-width: 1px;
    outline-style: none;
}

button:active, button:focus {
    outline-offset: -1px;
    outline-width: 0;
    outline-style: none;
}

input[type="checkbox"],
input[type="radio"] {
    min-height: 0;
}







.r-cnr,
.rounded-corners {
    border-radius: 5px;
    }
    .r-cnr.color-transparent,
    .rounded-corners.color-transparent {
        background-color: transparent!important;
    }
    .r-cnr           .bg,
    .rounded-corners .bg,
    .r-cnr           [class|="corner"],
    .rounded-corners [class|="corner"] {
        display: none;
    }
    .r-cnr           [class|="corner"]:before,
    .r-cnr           [class|="corner"]:after,
    .rounded-corners [class|="corner"]:before,
    .rounded-corners [class|="corner"]:after {
        content: none;
    }
    .r-cnr.r2px,
    .rounded-corners.r2px {
        border-radius: 2px;
    }
    .r-cnr.r3px,
    .rounded-corners.r3px {
        border-radius: 3px;
    }
    .r-cnr.r4px,
    .rounded-corners.r4px {
        border-radius: 4px;
    }
    .r-cnr.r5px,
    .rounded-corners.r5px {
        border-radius: 5px;
    }
    .r-cnr.r6px,
    .rounded-corners.r6px {
        border-radius: 6px;
    }
    .r-cnr.r7px,
    .rounded-corners.r7px {
        border-radius: 7px;
    }
    .r-cnr.r8px,
    .rounded-corners.r8px {
        border-radius: 8px;
    }
    .r-cnr.r9px,
    .rounded-corners.r9px {
        border-radius: 9px;
    }
    .r-cnr.r10px,
    .rounded-corners.r10px {
        border-radius: 10px;
    }
    .r-cnr.r12px,
    .rounded-corners.r12px {
        border-radius: 12px;
    }
    .r-cnr.r15px,
    .rounded-corners.r15px {
        border-radius: 15px;
    }


.r-tmnl,
.rounded-terminals {
    border-radius: 1000px!important;
    padding-left: 1.5em;
    padding-right: 1.5em;
    }
    .r-tmnl            .bg,
    .rounded-terminals .bg,
    .r-tmnl            [class|="corner"],
    .rounded-terminals [class|="corner"] {
        display: none;
    }
    .r-tmnl            [class|="corner"]:before
    .rounded-terminals [class|="corner"]:before {
        content: none;
    }

.cast-shadow {
    box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
    }
    .cast-inner-shadow {
        box-shadow: inset 3px 3px 2px 0px rgba(0, 0, 0, 0.1);
    }
    .ie-shadow {
        display: none;
    }



.row {
    position: relative;
    display: block;
    clear: both;
    float: none;
    }

    .row-bg {
        overflow: hidden;
        display: block;
        position: absolute;
        text-align: center;
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-size: cover;
        z-index: 0;
    }

    .row-bg:before {
        content: '';
        display: block;
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-size: cover;
    }

.width-wrap {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    float: none;
    z-index: 1;
}