hr, hr.dashed {
    background-color: #d0d0d0\0;
}


button {
    }

    button > .ie-borders {
        border-color: #157dff;
    }

    button > .ie-bg {
        /* background-color: #157dff; */
    }

    button > .ie-borders,
    button > .ie-bg {
        color: #157dff;
    }

    button:hover > .ie-bg {
        color: #3f93ff;
    }

    button.bg-transparent > .ie-bg {
        display: none;
        left: -1px;
        right: -1px;
        top: -1px;
        bottom: -1px;
        }
        button.bg-transparent > .ie-bg:before,
        button.bg-transparent > .ie-bg:after {
            content: none!important;
        }
        button.bg-transparent > .ie-bg [class|="corner"] {
            display: none;
        }

        button.bg-transparent:hover > .ie-bg {
            display: block;
        }

        button.bg-transparent > .ie-bg {
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33157dff, endColorStr=#33157dff)";
                filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33157dff, endColorStr=#33157dff);
        }
        button.bg-transparent.color-white > .ie-borders {
            color: white;
            border-color: white;
        }
        button.bg-transparent.color-white > .ie-bg {
            background-color: transparent;
            -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33FFFFFF, endColorStr=#33FFFFFF)";
                filter:  progid:DXImageTransform.Microsoft.Gradient(startColorStr=#33FFFFFF, endColorStr=#33FFFFFF);
        }


label.deco-input .ie-borders {
    color: #e6e6e6;
    }
    label.deco-input input:active ~ .ie-borders,
    label.deco-input input:focus ~ .ie-borders {
        color: #157fdd;
    }

.ie-shadow-matte {
    background-color: black;
}

.floating-layer-set {
    }

    .floating-layer-set.floating-info-set .floating-layer > .ie-shadow .ie-shadow-matte {
        background-color: #6df;
    }



#app-chief-nav {
    }
    #app-chief-nav .menu.level-2 > .ie-borders,
    #app-chief-nav .menu .deco > .ie-borders {
        color: #e1e1e1;
        border-color: #e1e1e1;
    }


#my-assets {
    }

    .search-block > .ie-borders,
    #my-assets .menu.level-1 > .ie-borders,
    #my-assets .menu.level-1 > .menu-item > .deco > .ie-borders,
    #my-assets .menu.level-2 > .ie-borders {
        color: #e6e6e6;
        border-color: #e6e6e6;
    }

    #my-assets .menu.level-1 > .menu-item > .deco .ie-shadow-matte {
        /* clip: rect(-9px, 200px, 40px, -9px); */
    }
    #my-assets .menu.level-2 > .ie-patch {
        background-color: white;
    }
