.width-wrap {
	max-width: 1240px;
	min-width: 1240px;
	padding: 0 20px;
}


.qrcode {
	width: 128px;
	height: 128px;
	}

	.qrcode > img {
		width: 128px;
		height: 128px;
		margin-bottom: 6px;
	}

	.qrcode > .figcaption {
		font-size: 12px;
		display: inline-block;
		padding: 6px;
		margin-top: 6px;
	}


#app-header {
	position: relative;
	z-index: 9;
}

#app-footer {
	position: relative;
	z-index: 8;
}

#app-body {
	position: relative;
	z-index: 1;
}



#app-body {
	display: block;
}



#app-header {
	}

	#app-header .iconfont {
		font-size: 21px;
		width: 21px;
		height: 35px;
		vertical-align: top;
	}

	#app-header-info-and-links {
		font-size: 12px;
		border-bottom: 1px solid;
		}

		#app-header-info-and-links button {
			margin: 0;
			padding: 0 0.5em;
			white-space: nowrap;
		}

		#app-header-info-and-links a:hover {
			text-decoration: none;
		}

		#app-header-info-and-links button .iconfont {
			margin: 0;
		}

		#app-header-info-and-links button label {
			display: inline-block;
			vertical-align: top;
			margin-left: 0.5em;
			margin-right: 0.5em;
			padding: 0;
		}

		#app-header-info-and-links .mobile-app button label {
			margin-left: 0;
		}

		#app-header-info-and-links button label span,
		#app-header-info-and-links button label em {
			display: inline-block;
			vertical-align: top;
			margin: 0;
			padding: 0;
		}

		#app-header-info-and-links .sns button label {
			display: none;
		}

		#app-header-info-and-links .width-wrap {
		}

		#app-header-contacts, #app-header-user-account-commands {
			vertical-align: top;
			display: inline-block;
			position: relative;
			width: 50%;
			min-height: 35px;
			line-height: 35px;
		}

		#app-header-contacts div,
		#app-header-user-account-commands div {
			vertical-align: top;
			display: inline-block;
		}

		#app-header-contacts {
			left: -0.5em;
		}
		#app-header-user-account-commands {
			right: -1em;
		}

		#app-header-contacts p,
		#app-header-contacts a,
		#app-header-contacts span,
		#app-header-user-account-commands label,
		#app-header-user-account-commands p,
		#app-header-user-account-commands a {
			vertical-align: top;
			display: inline-block;
			padding: 0 1em;
			min-height: 35px;
		}



		#app-header-contacts {
			position: relative;
			}

			#app-header-contacts > div {
				vertical-align: top;
				display: inline-block;
			}

			#app-header-contacts p {
				min-width: 1em;
			}

		#app-header-user-account-commands {
			text-align: right;
			}

			#app-header-user-account-commands div {
				vertical-align: top;
				display: inline-block;
			}




	#app-header-chief-bar {
		border-bottom: 1px solid;
		}

		#app-header-chief-bar > .width-wrap {
			height: 72px;
		}

		#taijs-logo {
			display: inline-block;
			vertical-align: top;
			padding: 13px;
			margin: 0 15px 0 -13px;
		}



#app-footer {
	display: block;
	}

	#app-footer > footer,
	#app-footer .row,
	#app-footer .width-wrap,
	#app-footer .content,
	#app-footer .col {
		border-color: inherit;
	}


	#app-footer a {
		display: inline-block;
		padding: 6px;
		margin: 0 -6px;
	}

	#app-footer a,
	#app-footer a:hover,
	#app-footer a:visited {
		text-decoration: none;
	}

	#app-footer-chief-bar {
		position: relative;
		border-top: 1px solid;
		}

		#app-footer-chief-bar .content {
			position: relative;
			padding: 36px 0 14px 0;
		}

		#app-footer-chief-bar .content .col {
			box-sizing: border-box;
			position: relative;
			display: inline-block;
			vertical-align: top;
		}

		#app-footer-chief-bar .content > .col {
			min-height: 150px;
			min-width: 25%;
		}

		#app-footer-chief-bar .content > .col.col-1 {
			width: 328px;
		}

		#app-footer-chief-bar .content > .col.col-3 {
			width: 328px;
		}

		#app-footer-chief-bar .content > .col.col-2 {
			width: 544px;
			border-width: 0 1px;
			border-style: solid;
		}

		#app-footer-nav {
			font-size: 12px;
			}

			#app-footer-nav h2 {
				font-size: 16px;
				padding: 8px;
				margin: -8px -8px 8px -8px;
			}

			#app-footer-nav a,
			#app-footer-nav a:hover,
			#app-footer-nav a:visited {
				margin-top: 1px;
				margin-bottom: 1px;
			}

			#app-footer-nav .col {
				width: 33%;
				padding-right: 24px;
			}

		#app-footer-qrcodes {
			text-align: center;
			}

			#app-footer-qrcodes > .col {
				width: 33%;
				border-top: 1px solid transparent;
				text-align: center;
			}

			#app-footer-qrcodes .qrcode > img {
				width: 128px;
				height: 128px;
				margin: -2px;
			}

		#app-footer-services-info {
			font-size: 12px;
			text-align: right;
			}

			#app-footer-services-info > ul {
				text-align: left;
				display: inline-block;
				right: 0;
			}

			#app-footer-services-info > ul > li {
				position: relative;
				padding-left: 30px;
				line-height: 40px;
			}

			#app-footer-services-info .iconfont {
				font-size: 20px;
				position: absolute;
				left: 0;
				top: 0;
				margin: 2px 0;
			}

			#app-footer-services-info em {
				font-size: 18px;
			}

			#app-footer-services-info p {
			}

			#app-footer-services-info p a {
				margin-top: -6px;
				margin-bottom: -6px;
			}

			#app-footer-services-info p > em,
			#app-footer-services-info p > span,
			#app-footer-services-info p > label {
				display: inline-block;
				vertical-align: middle;
			}


			#app-footer-services-info p > label {
				width: 60px;
				margin-right: 6px;
			}

			#app-footer-services-info p > label:after {
				content: 'ï¼š';
			}


	#app-footer-copyright-bar {
		min-height: 92px;
		border-top: 1px solid;
		text-align: center;
		}

		#app-footer-copyright {
			margin-top: 18px;
			font-size: 12px;
			line-height: 1;
		}

		#app-footer-attestations {
			margin-top: 20px;
			}

			#app-footer-attestations a,
			#app-footer-attestations img {
				position: relative;
				display: inline-block;
				margin: 0 12px;
				padding: 0;
				vertical-align: top;
			}
			#app-footer-attestations a img {
				margin: 0;
			}



#app-chief-nav {
	margin: 12px 0 12px 141px;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	}

	#app-chief-nav nav {
		display: inline;
		position: static;
	}

	#app-chief-nav .menu-item > label {
		padding-left: 20px;
		padding-right: 20px;
	}

	#app-chief-nav .menu.level-1 {
		font-size: 16px;
		height: 100%;
		}

		#app-chief-nav .menu.level-1 > .menu-item {
			max-width: 200px; /* just for safety */
		}

		#app-chief-nav .menu.level-1 > .menu-item > label {
			padding-top: 7px;
			padding-bottom: 7px;
		}

	#app-chief-nav .menu-wrap.level-2 {
		left: 0;
		top: 100%;
		margin-top: -10px; 
		padding: 0;
		width: 100%;
		}

		#app-chief-nav .menu-wrap.level-2:after {
			content: '';
			display: block;
			position: absolute;
			left: 1px;
			top: 0;
			right: -2px;
			height: 1px;
			background-color: white;
			z-index: 10;
		}

		#app-chief-nav .menu.level-2 {
			font-size: 14px;
			left: 0;
			top: 100%;
			width: 100%;
			padding: 8px 0;

			box-sizing: content-box;
			border-width: 1px;
			border-style: solid;

			opacity: 0;

			padding-right: 12px;
		}
		#app-chief-nav .menu.level-2 > .menu-item {
			margin-right: -12px;
			/*height: 30px;  for Microsoft EDGE bug */
		}

		#app-chief-nav .menu.level-2 > .menu-item > label {
			padding-top: 7px;
			padding-bottom: 7px;

			padding-left: 19px;  /* level 2 menu has borders */
			padding-right: 19px; /* level 2 menu has borders */
		}

		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > label:after {
			margin-right: 8px!important;
		}

	#app-chief-nav .menu .deco {
		position: absolute;
		border-width: 1px;
		border-style: solid;
		box-sizing: content-box;
		display: none;
		}

		#app-chief-nav .menu.level-1 .deco {
			z-index: 3;
			background-color: white;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			clip: rect(0px, 200px, 41px, 0px);
		}

		#app-chief-nav .menu-wrap.level-2 {
			z-index: 2;
			display: block;
			overflow: visible;
			visibility: hidden;
		}

		#app-chief-nav .menu.level-2,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > .deco {
			opacity: 0;
			/* transition-duration: 0.33s; */
		}


		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu.sub-menu-shown {
			z-index: 9;
		}

		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover {
			z-index: 10;
		}

		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu > .deco {
			display: block;
		}

		.touch-off #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover > .menu-wrap,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu.sub-menu-shown > .menu-wrap {
			visibility: visible;
		}

		.touch-off #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover .menu.level-2,
		.touch-off #app-chief-nav .menu.level-1 > .menu-item.has-sub-menu:hover > .deco,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu.sub-menu-shown .deco,
		#app-chief-nav .menu.level-1 > .menu-item.has-sub-menu.sub-menu-shown .menu.level-2 {
			opacity: 1;
		}
