::-moz-selection {
	color: white!important;
	background-color: black!important;
}

::selection {
	color: white!important;
	background-color: black!important;
}

html, body {
	color: #333;
	background-color: white;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #999;
}
.ie8-input-fake-placeholder {
	color: #999;
}


hr {
	border-color: #d0d0d0;
}

a, a:link, a:visited {
	color: #157dff;
}

input {
	background-color: white;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="button"].color-chief,
input[type="submit"].color-chief,
input[type="reset"].color-chief,
button.color-chief {
	color: white;
	border-color: #157dff;
	background-color: #157dff;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
input[type="button"].color-chief:hover,
input[type="submit"].color-chief:hover,
input[type="reset"].color-chief:hover,
button.color-chief:hover {
	background-color: #3f93ff;
}

input[type="button"].color-transparent,
input[type="submit"].color-transparent,
input[type="reset"].color-transparent,
button.color-transparent {
	color: #157dff;
}

input[type="button"].color-transparent:hover,
input[type="submit"].color-transparent:hover,
input[type="reset"].color-transparent:hover,
button.color-transparent:hover {
	background-color: #e5f1ff;
}

input:active,  input:focus,
select:active, select:focus,
label:active,  label:focus {
	border-color: #157dff;
	outline-color: #157dff;
}

button:active, button:focus {
	outline-color: #157dff;
}

em {
	color: #ff291d;
}

label.deco-input {
	border-color: #e6e6e6;
	background-color: white;
	}
	label.deco-input .iconfont {
		color: #999;
	}


.qrcode {
	}

	.qrcode > img {
		background-color: #f3f3f3;
		margin-bottom: 8px;
	}


.info-block .info-locator .info {
	color: #333;
	border-color: #157dff;
	background-color: white;

	box-shadow: 0 0 8px 0 rgba(33, 222, 255, 0.77)
}

.menu-item {
	}

	.menu.layout-hori > .menu-item > a > label,
	.menu.layout-hori > .menu-item > label {
		color: #333;
	}

	.menu.layout-hori > .menu-item:hover > a > label,
	.menu.layout-hori > .menu-item:hover > label,
	.menu.layout-hori > .menu-item.sub-menu-shown > a > label,
	.menu.layout-hori > .menu-item.sub-menu-shown > label,
	.menu.layout-hori > .menu-item.current-cate > a > label,
	.menu.layout-hori > .menu-item.current-cate > label {
		color: #157dff;
	}

	.menu.layout-vert > .menu-item > a > label,
	.menu.layout-vert > .menu-item > label {
		color: #333;
	}

	.menu.layout-vert > .menu-item:hover > a > label,
	.menu.layout-vert > .menu-item:hover > label,
	.menu.layout-vert > .menu-item.sub-menu-shown > a > label,
	.menu.layout-vert > .menu-item.sub-menu-shown > label,
	.menu.layout-vert > .menu-item.current-cate > a > label,
	.menu.layout-vert > .menu-item.current-cate > label {
		color: white;
		background-color: #157dff;
	}



.button-x {
	background-color: transparent;
	color: white;
	}

	.button-x:hover {
		background-color: transparent;
	}

	.button-x:before {
		background-color: white;
	}




#app-header {
	background-color: white;
	}

	#app-header-info-and-links {
		color: #666;
		border-bottom-color: #eee;
		}

		#app-header-info-and-links a:hover,
		#app-header-info-and-links button.simple-look:hover {
			background-color: #f3f3f3;
		}

		#app-header-info-and-links a,
		#app-header-info-and-links a:link,
		#app-header-info-and-links a:visited {
			color: #666;
		}

		#app-header-info-and-links button.simple-look .iconfont {
			color: #999;
		}

		#app-header-contacts .tel em {
			color: #666;
		}

	#app-header-chief-bar {
		border-bottom-color: #eee;
		}

#app-footer {
	border-color: #ddd;
	}

	#app-footer a,
	#app-footer a:hover,
	#app-footer a:visited {
		color: #666;
	}

	#app-footer a:hover {
		background-color: #f3f3f3;
	}

	#app-footer-nav h2 {
		color: #333;
	}

	#app-footer-services-info em {
		color: #333;
	}


#app-chief-nav {
	}

	#app-chief-nav .menu,
	#app-chief-nav .menu .deco {
		border-color: #e1e1e1;
		background-color: white;
	}

	#app-chief-nav .menu.level-2 > .menu-item > a > label,
	#app-chief-nav .menu.level-2 > .menu-item > label {
		color: #666;
	}

	#app-chief-nav .menu.level-2 > .menu-item.current-cate > a > label,
	#app-chief-nav .menu.level-2 > .menu-item.current-cate > label,
	#app-chief-nav .menu.level-2 > .menu-item.sub-menu-shown > a > label,
	#app-chief-nav .menu.level-2 > .menu-item.sub-menu-shown > label,
	#app-chief-nav .menu.level-2 > .menu-item:hover > a > label,
	#app-chief-nav .menu.level-2 > .menu-item:hover > label {
		color: white;
	}



#my-assets {
	}

	#my-assets .menu.level-1 {
		border-color: #e6e6e6;
	}

	#my-assets .menu.level-1 > .menu-item {
		background-color: #f9f9f9;
	}

	#my-assets .menu.level-1 > .menu-item > a > label,
	#my-assets .menu.level-1 > .menu-item > label {
		color: #333;
		background-color: transparent!important;
	}

	#my-assets .menu.level-1 > .menu-item > a > label .iconfont,
	#my-assets .menu.level-1 > .menu-item > label .iconfont {
		color: #157dff;
	}

	#my-assets .menu.level-1 > .menu-item > .deco,
	#my-assets .menu.level-2 {
	    border-color: #e6e6e6;
	}

	#my-assets .menu-wrap.level-2:after,
	#my-assets .menu.level-1 > .menu-item > .deco,
	#my-assets .menu.level-2 {
		background-color: white;
	}