::-moz-selection {
	color: white!important;
	background-color: black!important;
}

::selection {
	color: white!important;
	background-color: black!important;
}

html, body {
	color: #333;
	background-color: white;
}

hr {
	border-color: #d0d0d0;
}

a, a:link, a:visited {
	color: #157dff;
}

input {
	background-color: white;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button,
input[type="button"].color-chief,
input[type="submit"].color-chief,
input[type="reset"].color-chief,
button.color-chief {
	color: white;
	border-color: #157dff;
	background-color: #157dff;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover,
input[type="button"].color-chief:hover,
input[type="submit"].color-chief:hover,
input[type="reset"].color-chief:hover,
button.color-chief:hover {
	background-color: #3f93ff;
}

input[type="button"].color-transparent,
input[type="submit"].color-transparent,
input[type="reset"].color-transparent,
button.color-transparent {
	color: #157dff;
}

input:active,  input:focus,
select:active, select:focus,
label:active,  label:focus {
	border-color: #157dff;
	outline-color: #157dff;
}

button:active, button:focus {
	outline-color: #157dff;
}

em {
	color: #ff291d;
}

.qrcode {
	}

	.qrcode > img {
		background-color: #f3f3f3;
		margin-bottom: 8px;
	}


.info-block .info-locator .info {
	color: #333;
	border-color: #157dff;
	background-color: white;

	box-shadow: 0 0 8px 0 rgba(33, 222, 255, 0.77)
}


.menu-item:hover > label,
.menu-item.sub-menu-shown > label,
.menu-item.current-cate > label {
	color: #157dff;
}

.button-x {
	background-color: transparent;
	color: white;
	}

	.button-x:hover {
		background-color: transparent;
	}

	.button-x:before {
		background-color: white;
	}




#app-header {
	background-color: white;
	}

	#app-header-info-and-links {
		color: #666;
		border-bottom-color: #eee;
		}

		#app-header-info-and-links a:hover,
		#app-header-info-and-links button.simple-look:hover {
			background-color: #f3f3f3;
		}

		#app-header-info-and-links a,
		#app-header-info-and-links a:link,
		#app-header-info-and-links a:visited {
			color: #666;
		}

		#app-header-info-and-links button.simple-look .iconfont {
			color: #999;
		}

		#app-header-contacts .tel em {
			color: #666;
		}

	#app-header-chief-bar {
		border-bottom-color: #eee;
		}

#app-footer {
	border-color: #ddd;
	}

	#app-footer a,
	#app-footer a:hover,
	#app-footer a:visited {
		color: #666;
	}

	#app-footer a:hover {
		background-color: #f3f3f3;
	}

	#app-footer-nav h2 {
		color: #333;
	}

	#app-footer-services-info em {
		color: #333;
	}



#app-chief-nav {
	}

	#app-chief-nav .menu,
	#app-chief-nav .menu .deco {
		border-color: #e1e1e1;
		background-color: white;
	}

	#app-chief-nav .menu.level-1 > .menu-item > label {
	}

	#app-chief-nav .menu.level-2 {
	}

	#app-chief-nav .menu.level-2 > .menu-item > label {
		color: #666;
	}

	#app-chief-nav .menu.level-2 > .menu-item:hover > label {
		color: white;
		background-color: #157dff;
	}
